@import "../../components/listFilms/listFilms";

.all-films__text {
  font-size: calc(1vw + 20px);
  font-weight: 500;
  color: var(--font-color);
  margin-top: 110px;
  margin-bottom: 30px;
  margin-left: 4vw;
}

.all-list {
  height: 100vh;
}

.loader {
  height: 100px;
  width: 100%;
}