.all-films__text {
  font-size: calc(1vw + 20px);
  font-weight: 500;
  color: var(--font-color);
  margin-top: 150px;
  margin-bottom: 30px;
  margin-left: 4vw;
}

.all-list {
  height: 100%;
  padding-bottom: 50px;
}

.loader {
  display: none;
  height: 100px;
  width: 100%;
}

.films{
  grid-area:main;
}