div.navbar !{header}
div.all-films__text Фильмы
div.all-list !{listFilms}
    div.loader
        div
            div.preloader__row
                div.preloader__item
                div.preloader__item
div !{footer}