@import "../../components/listFilms/listFilms";

.all-films__text {
  font-size: calc(1vw + 20px);
  font-weight: 500;
  color: var(--font-color);
  margin-top: 10vw;
  margin-bottom: 30px;
  margin-left: 4vw;
}