img.profile-avatar(src="../../static/profile.png")
input.profile-avatar__input(type="file", id="avatar", accept="image/png, image/jpg, image/webp")
label.profile-avatar__input-button(for="avatar") Загрузить файл
