.group {
    font-size: 28px;
}

.group__staff {
    display: flex;
    flex-direction: row;
}

.group__person {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.person__photo {
    margin-top: 20px;
    margin-bottom: 16px;
}

.person__name {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    width: 112px;
    margin-bottom: 16px;
}

.person__name:hover {
    text-decoration: underline;
}

.person__position {
    color: var(--secondary-name);
    font-size: 20px;
    font-weight: lighter;
}