body {
    font-family: GT Eesti Pro Display, arial, sans-serif;
}
@font-face {
    font-family: GT Eesti Pro Display, arial, sans-serif;
}
.background{
    background-color : #01090B
}

a, input, img {
    outline: none;
    text-decoration: none;
    display: block;
}
.item-a {
    grid-area: header;
}

.item-b {
    grid-area: main;
}
.item-c {
    grid-area: footer;
}


.container {
    background: url("static/1+1.jpg");
    margin: -8px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    background-size: cover;
    height: 640px;   // костыль
}



.fontGT{
    font-family: "GT-Eesti-Pro-Display-Bold",cursive;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar {

    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px auto 50px auto 100px;
    column-gap: 10px;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
    text-align: center;
    background: linear-gradient(180deg, #070606 6.08%, rgba(7, 6, 6, 0.5) 55.03%, rgba(14, 12, 12, 0.25) 78.99%, rgba(27, 23, 23, 0.1) 90.45%, rgba(27, 23, 23, 0) 100%);
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}


.label{
    place-self: center;
}

.mainMovie {
    display: grid;
    grid-template-columns: auto  600px 30px ;
    column-gap: 10px;
    grid-template-rows: 200px auto 20px;
    row-gap: 10px;
    grid-template-areas:
    ". . ."
    ". sidebar . "
    ". . ."

}

.item-sidebar{
    width: auto;
    height: auto;
    grid-area: sidebar;
    background: linear-gradient(206.08deg, rgba(196, 196, 196, 0.45) -40.85%, rgba(196, 196, 196, 0) 97.87%);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;
}

.titleMain {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    grid-template-rows: auto;
    row-gap: 10px;
    grid-template-areas:
    "title title"
    "btn btnInfo"
}

.titl{
    text-align: center;
    color: #FFFFFF;
    grid-area: title;
}

.btn{
    margin: 15px;
    padding-block: 19px;
    padding-inline: 40px;
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 28px;
    background: linear-gradient(90deg, #C951AB -12.3%, #2B54BC 93.57%);
    mix-blend-mode: normal;
    border-radius: 7px;
    justify-self: center;
    grid-area: btn;

}
.btnInfo{
    margin: 15px;
    padding-block: 19px;
    padding-inline: 40px;
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 28px;
    grid-area: btnInfo;
    background: linear-gradient(121.9deg, rgba(0, 0, 0, 0.4) 16.73%, rgba(20, 20, 20, 0.168) 340.95%);
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
    justify-self: center;

}



.selection{
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    grid-template-rows: auto;
    row-gap: 10px;
    grid-template-areas:
    "select1"
    "select2"
    "select3"
}

.select-1{
    margin-inline: 22px;
    display: grid;
    grid-area: select1;
}

.selectPop{
    display: grid;
    grid-template-columns: 10px;
    column-gap: 10px;
    grid-template-rows: 50px auto;

}

.selectMovies{
    width: 1300px;
    overflow-x: auto;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 28px;
    grid-template-rows: auto;

}
.movie {
    background: url("static/star.png");
    background-size: contain;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 50px;
    column-gap: 10px;
    width: 280px;
    height: 165px;
    row-gap: 10px;
    border-radius: 24px;
    margin-inline-start: 15px;

    grid-template-areas:
    "refMov "
    "descMov"

}

.refMov{
    grid-area: movie;
}


.descMov{
    display: grid;
    grid-template-columns: auto 50px;
    column-gap: 10px;
    grid-template-rows: auto;
    padding-inline-start: 20px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) -79.55%, #000000 124.95%);
    backdrop-filter: blur(5px);
    grid-area: descMov;

}

.genre{
    margin-block: -20px;
    font-weight: 350;
    font-size: 14px;
    line-height: 16px;
    color: #707070;
}

.select-2{
    margin-inline: 22px;
    grid-area: select2;
}

.select-3{
    margin-inline: 22px;
    grid-area: select3;
}




#footer {
    display: grid;
    width: 100%;
    position: absolute;
    background: #01090B;
    height: 150px;

    grid-template-columns: 350px 350px auto 300px;
    grid-template-rows: auto;
    grid-template-areas:
        "first second third fourth";
}
#first-footer{
    display: block;
    grid-area: first;
}
#second-footer{
    display: block;
    grid-area: second;
}
#third-footer{
    display: block;
    grid-area: third;
}
#fourth-footer{

    text-align: end;
    display: block;
    grid-area: fourth;
    display: -webkit-inline-box;
}
.title {
    color: #C3C3C2;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}
.content {
    color: #C3C3C2;
    margin-left: 50px;
    font-size: 15px;
}
.refer {
    height: 39px;
    width: 39px;
    margin-right: 50px;
    margin-top: 20px;
}


* {box-sizing: border-box;}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
}
input {

    font-size: 24px;
    height: 48px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}

button {
    background: url("static/lupa.png");
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-size: contain;
}


.section {
    max-height: 250px;
    padding: 1rem;
    direction: ltr;
    scrollbar-width: thin;

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p + p {
        margin-top: 1rem;
    }
}

.section::-webkit-scrollbar {
    width: 20px;
}

.section::-webkit-scrollbar-track {
    background-color: #01090B;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #393449;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
