@media (min-width: 1400px) and (max-width: 1600px) {
    #menu{
        width: 750px;
    }
}
@media (min-width: 1000px) and (max-width: 1400px) {
    #menu{
        width: 650px;
    }
}
@media (min-width: 750px) and (max-width: 1000px) {
    #menu{
        width: 880px;
    }
    #back-menu {
        height: 100%;
    }
    #footer {
        width: 102%;
    }
    #root {
        width: 102%;
    }
}
