div.navbar !{header}
div.error-back
    div.error-text
        div.error-text__404 404! Страница не найдена
        div.error-text__info Возможно, она была перемещена, или вы просто неверно указали адрес страницы.
    img.error-img(src="../../../static/404.gif")
div.footer !{footer}