.error-back {
    display: flex;
    height: 100vh;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.error-text {
    margin-top: 100px;
}

.error-text__404 {
    font-size: 90px;
    margin-bottom: 20px;
}

.error-text__info {
    color: var(--secondary-name);
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 30px;
}

.error-img {
    width: 600px;
    height: 414px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
}

@media (min-width: 1000px) and (max-width: 1450px) {
    .error-text__404 {
        text-align: center;
        font-size: 70px;
    }

    .error-text__info {
        font-size: 22px;
    }
}

@media (max-width: 1000px) {
    .error-img {
        width: 535px;
        height: 392px;
    }

    .error-text__404 {
        text-align: center;
        font-size: 50px;
    }

    .error-text__info {
        font-size: 18px;
    }
}

@media (max-width: 750px) {
    .error-text__404 {
        margin-right: 15px;
        padding-left: 10px;
        font-size: 45px !important;
    }

    .error-text {
        margin-top: 50px !important;
    }

    .error-text__info {
        text-align: center;
        margin-right: 15px;
        padding-left: 15px;
        font-size: 16px !important;
    }

    .error-img {
        width: 232px !important;
        height: 183px !important;
    }
}
