.menu-button {
    font-weight: lighter;
    font-family: GT Eesti Pro Display, arial, sans-serif;
    color: var(--font-color);
    font-size: 25px;
    height: 50px;
    margin-top: 50px;
    width: 100%;
    border: 0;
    cursor: pointer;
    background: var(--btn-color);
    mix-blend-mode: normal;
    border-radius: 10px;
    transition: transform .1s ease-out,background-color .15s linear;
}
.menu-button:active {
    transform: scale(0.94);
    -webkit-transform: scale(0.94);
}
.menu-button:hover {
    background: var(--btn-hover-color);
}