.root
    div.navbar !{header}
    div.all-films__text Избранное
    div.selection
        div#select !{select}
    div.footer-poster
        img.poster(src="../static/footer-poster.png")
    div !{footer}