.root
    div.navbar !{header}
    div.all-films__text Избранное
    div.font-empty !{empty}
        img.empty-heart(src = "../../static/broken-heart.png")
    div.selection
        div#select !{select}
    div.footer-poster
