.descr {
  font-size: 50px;
  font-weight: 500;
  margin-block: 50px;
}

.footer-poster {
  grid-area: footer;
  background-image: url("../../static/footer-poster.png");
  background-size: cover;
  width: 100vw;
  height: 18vw;
  box-shadow: inset 0 0 0,inset 0 139px 236px var(--back-color);
}
.footer-poster-position{
  margin-top: 10vw;
  //bottom: 0;
  //position: absolute;
}
.favorite{
  grid-area: main;
}
.favorite__text {
  font-size: calc(1vw + 20px);
  font-weight: 500;
  color: var(--font-color);
  margin-top: 5vw;
  margin-bottom: 30px;
  margin-left: 4vw;
}
.root-correction{
  grid-template-rows: 1fr 1.1fr 1fr;
}

@media (max-width: 1000px) {
  .footer-poster {
    display: none;
    box-shadow: inset 0 0 0, inset 0px -10px 22px var(--back-color);
  }
}

.poster {
  width: 100%;
  height: 100%;
}

.font-empty {
  display: flex;
  margin-left: 4vw;
  font-size: calc(1vw + 8px);
  color: var(--font-first-span-color);
  font-style: normal;
  font-weight: 300;
  text-shadow: 0 4px 4px var(--nav-font-shadow);
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.empty-heart{
  margin-inline-start: 20px;
  width: 50px;
  height: 50px;
  transition: all 1s ease;
}
.empty-heart:hover{
  filter: blur(20px);
  transform: scale(1.2);
}

.footer-poster-fixed{
  bottom: 0;
  position: fixed;
}