.root
    header.navbar !{header}
    div.favorite
        div.favorite__text(data-bind-style="marginTop:marginTextFavorite") Избранное
        div.font-empty !{empty}
        div.selection
            div#select !{select}
    footer.footer-poster
