.descr {
  font-size: 50px;
  font-weight: 500;
  margin-block: 50px;
}
.footer-poster{
  background-image: url("../../static/footer-poster.png");
  background-size: cover;
  width: 100vw;
  height: 20vw;
  box-shadow: inset 0 0 0 ,inset 0px -40px 22px var(--back-color);
}
.poster{
  width: 100%;
  height: 100%;
}