.back-profile {
    position: absolute;
    background: url("../../static/backProfile.webp");
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
}

.back-menu-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100%;
}

@mixin backdrop-filter($blur) {
    -webkit-backdrop-filter: $blur;
    backdrop-filter: $blur;
}

.menu-profile {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    background: var(--menu-back);
    @include backdrop-filter(blur(5px));
    border-radius: 20px;
}

.form-profile {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.menu-form__profile {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-form-avatar {
    margin-right: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu-form-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-email {
    align-items: center;
    display: flex;
    width: 100%;
    height: 50px;
    background: none;
    backdrop-filter: none;
    border-radius: 10px;
}

@media (min-width: 1000px) and (max-width: 1450px) {
    .menu-profile {
        width: 800px;
    }

    .profile-avatar {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 1000px) {
    .profile-avatar {
        width: 150px;
        height: 150px;
    }

    .profile-avatar__input-button {
        height: 39px;
    }

    .menu-profile {
        padding-top: 30px;
        width: 85%;
    }

    .menu-form-avatar {
        margin-right: 70px;
    }
}

@media (max-width: 750px) {
    .profile-avatar {
        width: 130px;
        height: 130px;
    }

    .profile-avatar__input-button {
        font-size: 16px;
        width: 150px;
    }

    .menu-form__profile {
        flex-direction: column;
    }

    .menu-form-avatar {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .navbar {
        transition: none;
        position: sticky !important;
        justify-content: space-between;
    }

    .back-profile {
        height: 130vh;
    }

    .back-menu-profile {
        margin-top: 50px;
        margin-bottom: 20px;
        height: fit-content;
    }
}

@media (max-height: 450px) {
    .navbar {
        transition: none;
        position: sticky !important;
        justify-content: space-between;
    }

    .back-profile {
        height: 160vh;
    }

    .back-menu-profile {
        height: 160vh;
    }
}
