div.first-part-info__rating
    div.first-part-info__our-rating #{rating}
    div.first-part-info__our-name Оценка MovieSpace
div.first-part-info__your-rating
    button.your-rating__button Оценить
    div.your-rating__text Твоя оценка
    div.first-part-info__error Временно недоступна
div.first-part-info__text #{description}
