@import "../../components/headPerson/headPerson";

.photo-person {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    height: 96vh;
}

.photo-person__gradient {
    padding-top: 18vh;
    width: 100%;
    height: 100%;
    background: var(--movie-gradient);
}

.head-person {
    margin-inline-start: 4vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-part-info {
    display: flex;
    height: 200px;
    background: var(--back-color);
}

.margin-person {
    margin-top: -44px;
    margin-bottom: 50px;
}
