div.div-logo
    object.logo(type="image/svg+xml", data="../../static/Logo.svg")
div.offline-back
    div.offline-text Извините, наше приложение работает только при наличие сети!
    img.offline-img(src='../../static/offline.gif')
div.footer !{footer}