div.navbar !{header}
div.all-films__text #{genre}
div.list-genres
    a.list-genres__genre.genre-1-js(href='/genre/1') Комедия
    a.list-genres__genre.genre-2-js(href='/genre/2') Боевик
    a.list-genres__genre.genre-3-js(href='/genre/3') Драма
    a.list-genres__genre.genre-4-js(href='/genre/4') Приключения
    a.list-genres__genre.genre-5-js(href='/genre/5') Мелодрама
    a.list-genres__genre.genre-6-js(href='/genre/6') Фантастика
    a.list-genres__genre.genre-7-js(href='/genre/7') Фэнтези
    a.list-genres__genre.genre-8-js(href='/genre/8') Триллер
    a.list-genres__genre.genre-9-js(href='/genre/9') История
    a.list-genres__genre.genre-10-js(href='/genre/10') Детектив
    a.list-genres__genre.genre-11-js(href='/genre/11') Криминал
    a.list-genres__genre.genre-12-js(href='/genre/12') Семейный
    a.list-genres__genre.genre-13-js(href='/genre/13') Мюзикл
    a.list-genres__genre.genre-15-js(href='/genre/15') Биография
    a.list-genres__genre.genre-16-js(href='/genre/16') Спорт
    a.list-genres__genre.genre-17-js(href='/genre/17') Мультфильм
div.open-full Раскрыть все
div.all-list !{listFilms}