div.navbar !{header}
div.all-films__text #{genre}
div.list-genres
    a.list-genres__genre(href='/genre/2') Боевик
    a.list-genres__genre(href='/genre/3') Драма
    a.list-genres__genre(href='/genre/4') Приключения
    a.list-genres__genre(href='/genre/5') Мелодрама
    a.list-genres__genre(href='/genre/6') Фантастика
    a.list-genres__genre(href='/genre/7') Фэнтези
    a.list-genres__genre(href='/genre/8') Триллер
    a.list-genres__genre(href='/genre/9') История
    a.list-genres__genre(href='/genre/10') Детектив
    a.list-genres__genre(href='/genre/11') Криминал
    a.list-genres__genre(href='/genre/12') Семейный
div.all-list !{listFilms}
div !{footer}