div.div-logo
    object.logo(type="image/svg+xml", data="../../static/Logo.svg")
div.error-back
    div.error-text
        div.error-text__404 Упс.. Что-то пошло не так!
        div.error-text__info Сервис временно недоступен, попробуйте немного позже.
    img.error-img(src="../../../static/ups.gif")
div.footer !{footer}