mixin carouselFam(items)
        div.b-carousel.js-carouselFam
            button.b-carousel__prev.js-carouselFam__prev ❬
            button.b-carousel__next.js-carouselFam__next ❭
            div.b-carousel__wrap.js-carouselFam__wrap(style="transform: translateX(0%);")
                each val in [1, 2]
                    div.b-carousel__item
                        each item in items
                            div.movie
                                a(href= item.href)
                                    div.ref-mov
                                div.desc-mov
                                    div= item.name
                                    div.genre= item.genre
                                    input#cb.input-like(type = "checkbox")


+ carouselFam(items)