.photo-movie {
  position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    height: 96vh;
}

.episodes {
  margin-top: 60px;
  margin-bottom: -20px;
  margin-left: 4vw;
  background: var(--back-color);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.episodes::-webkit-scrollbar {
  display: none;
}

.first-part-info-serial{
  margin-left: 4vw;
  //margin-top: 60px;
  display: flex;
  flex-direction: column;
  height: auto !important;
}

.series-margin{
  margin-top: 0;
}

.series-top{
  margin-top: 22px;
}

.photo-movie__gradient {
    width: 80%;
    height: 96vh;
    background: var(--movie-gradient);
}

.head-movie {
    position: absolute;
    margin-left: 4vw;
    height: 50%;
}

.first-part-info {
    margin-left: 4vw;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    height: auto !important;
}

@media (min-width: 2000px){
  .first-part-info {
    margin-top: calc(2vw + 300px);
  }

}
.second-part-genre {
    margin-left: 4vw;
    margin-top: 40px;
  margin-bottom: -20px;
}

.third-part-actors {
    margin-top: 40px;
    margin-left: 4vw;
    margin-bottom: 20px;
}

.movie-carousel {
    margin-top: -20px;
}

.carousel-title {
    font-size: 28px !important;
}

.seasons{
  margin-top: 0;
}

.play__back{
  place-self: center;
}

