.head-movie__name {
  width: 567px;
  background-size: contain;
  object-fit: contain;
  height: 110px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.short-info.info__genre-first:hover {
  text-decoration: underline;
}

.info__year {
  padding-right: 10px;
}

.info__genre-first {
  color: white;
  text-decoration: none;
}

.head-movie__rating {
  cursor: default;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.string-rating {
  display: flex;
  flex-direction: column;
  margin-right: 74px;
}

.rating {
  color: var(--great-rating);
  font-weight: bold;
  font-size: 32px;
  margin-left: 30px;
}

.our-name {
  background-color: var(--our-name);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--our-name-gradient);
  font-size: 20px;
  font-weight: lighter;
}

.poisk-name {
  color: var(--secondary-name);
  font-size: 20px;
  font-weight: lighter;
}

.head-movie__info {
  cursor: default;
  margin-bottom: 24px;
  display: flex;
}

.short-info {
  font-weight: lighter;
  font-size: 22px;
  margin-right: 6px;
}

.info__genre {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right: 16px;
}

.info__genre:hover {
  text-decoration: underline;
}

.info__country {
  margin-right: 16px;
}

.info__duration {
  margin-right: 16px;
}

.head-movie__buttons {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: space-between;
}

.play-button {
  font-weight: lighter;
  font-family: GT Eesti Pro Display, arial, sans-serif;
  color: var(--font-color);
  font-size: 20px;
  height: 44px;
  width: 232px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  background: var(--btn-color);
  mix-blend-mode: normal;
  border-radius: 10px;
  transition: transform 0.1s ease-out, background-color 0.15s linear;
}

.play-button:active {
  transform: scale(0.94);
}

.play-button:hover {
  background: var(--btn-hover-color);
}

.trailer-button {
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: lighter;
  font-family: GT Eesti Pro Display, arial, sans-serif;
  color: var(--font-color);
  font-size: 20px;
  width: 164px;
  cursor: pointer;
  border: 3px solid var(--mix-color);
  background: transparent;
  mix-blend-mode: normal;
  border-radius: 10px;
  transition: transform 0.1s ease-out, background-color 0.15s linear;
}

.trailer-button:active {
  transform: scale(0.94);
}

.trailer-button:hover {
  background: var(--trailer-button-hover);
}

.first-part-info__rating {
  margin-bottom: 30px;
  width: 210px;
}

.first-part-info__rating-flex {
  display: flex;
}

.first-part-info__our-rating {
  margin-right: 20px;
  height: auto;
  text-align: start;
  color: var(--great-rating);
  font-size: 72px;
  font-weight: bold;
}

.first-part-info__error {
  width: 106px;
  display: none;
  transition: all 0.1s ease-out;
  margin-top: 20px;
  font-size: 20px;
  color: var(--font-error-color);
}

.first-part-info__error-active {
  display: block;
}

.first-part-info__our-name {
  padding-top: 10px;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 4px;
}

.first-part-info__our-name-rt {
  font-weight: lighter;
  font-size: 20px;
  background-color: var(--our-name);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--our-name-gradient);
}

.first-part-info__your-rating {
  padding-top: 14px;
  margin-right: 280px;
}

.your-rating__button {
  font-weight: lighter;
  font-family: GT Eesti Pro Display, arial, sans-serif;
  color: var(--font-color);
  font-size: 16px;
  height: 44px;
  width: 100%;
  border: 0;
  cursor: pointer;
  background: var(--btn-color);
  mix-blend-mode: normal;
  border-radius: 10px;
  transition: transform 0.1s ease-out, background-color 0.15s linear;
}

.your-rating__button:active {
  transform: scale(0.94);
}

.your-rating__button:hover {
  background: var(--btn-hover-color);
}

.your-rating__text {
  cursor: default;
  padding-top: 26px;
  font-weight: lighter;
  font-size: 20px;
}

.first-part-info__text {
  font-size: 20px;
  font-weight: lighter;
  width: 700px;
}

.second-part-genre__genre {
  font-size: 28px;
  margin-bottom: 10px;
}

.second-part-genre__genres {
  width: fit-content;
  cursor: pointer;
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 6px;
}

.second-part-genre__genres:hover {
  text-decoration: underline;
}

.second-part-genre__genres {
  color: white;
  text-decoration: none;
  margin-right: 8px;
}

.second-part-genre__div {
  display: flex;
  flex-direction: row;
}

.second-part-genre__div .second-part-genre__genres:not(:last-child):after {
  content: ", ";
}

.group {
  font-size: 28px;
}

.group__staff {
  display: flex;
  flex-direction: row;
}

.group__person {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.person__photo {
  border-radius: 50%;
  width: 108px;
  height: 108px;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 16px;
  transition: all 0.2s linear;
}

.person__name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  width: 112px;
  margin-bottom: 16px;
}

.person__name:hover {
  text-decoration: underline;
}

.person__position {
  color: var(--secondary-name);
  font-size: 20px;
  font-weight: lighter;
}

.person__href {
  text-decoration: none;
}

.person__photo:hover {
  transform: scale(1.1);
}

.photo-movie {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background-size: cover;
  height: 96vh;
}

.photo-movie__gradient {
  width: 80%;
  height: 96vh;
  background: var(--movie-gradient);
}

.head-movie {
  position: absolute;
  margin-left: 4vw;
  height: 50%;
}

.first-part-info {
  margin-left: 4vw;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  height: auto !important;
}

.second-part-genre {
  margin-left: 4vw;
  margin-top: 40px;
}

.third-part-actors {
  margin-top: 40px;
  margin-left: 4vw;
  margin-bottom: 20px;
}

.movie-carousel {
  margin-top: -20px;
}

.carousel-title {
  font-size: 28px !important;
}

/*# sourceMappingURL=movie.css.map */
