
.mainMovie {
    display: flex;
    justify-content: flex-end;
}

.sidebar {

    background: linear-gradient(206.08deg, rgba(196, 196, 196, 0.45) -40.85%, rgba(196, 196, 196, 0) 97.87%);
    backdrop-filter: blur(30px);
    width: 573px;
    height: auto;
    border-radius: 32px;
    margin: 150px 32px 10px;
    display: grid;
    column-gap: 10px;
    grid-template-rows: auto;
    row-gap: 10px;
    grid-template-columns: 300px auto;
    grid-template-areas:
    "title title"
    "btn btnInfo"
}

.title {
    text-align: center;
    grid-area: title;
}

.titleName {
    font-size: 96px;
    line-height: 111px;

}

.titleDescr {
    margin-inline: 72px;
    font-weight: 350;
    font-size: 30px;
    line-height: 35px;
}


.btn {
    width: auto;
    grid-area: btn;
    margin-inline-start: 53px;
    padding-block: 5px;
    padding-inline: 29px;
    margin-block-end: 39px;
    margin-block-start: 30px;
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 28px;
    place-self: center;


    background: linear-gradient(90deg, #C951AB -12.3%, #2B54BC 93.57%);
    mix-blend-mode: normal;
    border-radius: 7px;
    justify-self: center;
    transition: transform .1s ease-out, background-color .15s linear;
}

.btnInfo {
    width: auto;
    grid-area: btnInfo;
    margin: 15px;
    margin-block-end: 39px;
    margin-block-start: 30px;
    padding-block: 5px;
    padding-inline: 40px;
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 28px;
    place-self: center;
    background: linear-gradient(121.9deg, rgba(0, 0, 0, 0.4) 16.73%, rgba(20, 20, 20, 0.168) 340.95%);
    mix-blend-mode: normal;
    backdrop-filter: blur(15px);

    border-radius: 5px;
    transition: transform .1s ease-out, background-color .15s linear;


}

.btnInfo:active {
    transform: scale(0.94);
    -webkit-transform: scale(0.94);
}

.btnInfo:hover {
    background: linear-gradient(56.9deg, rgba(0, 0, 0, 0.4) 456%, rgba(20, 20, 20, 0.168) 16.73%);
}

.btn:active {
    transform: scale(0.94);
    -webkit-transform: scale(0.94);
}

.btn:hover {
    background: linear-gradient(90deg, #A6418D -12.3%, #24469D 93.57%);
}
