.main-movie {
    display: flex;
    height: 100%;
    justify-content: flex-start;

}

.sidebar {
    margin-inline: 30px;
    align-content: center;
    width: 582px;
    border-radius: 32px;
    display: grid;
    column-gap: 10px;
    grid-template-rows: auto;
    row-gap: 10px;
    padding-top: 15px;
    grid-template-columns: auto auto;
    grid-template-areas:
"title title"
"btn btnInfo"
}

.main-movie__name {
    width: auto;
    background-position-x: center;
    background-size: contain;
    object-fit: contain;
    height: 181px;
    background-repeat: no-repeat;
}

.title-main-movie {
    cursor: default;
    text-align: center;
    grid-area: title;
}

.title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 80px;
    align-items: center;
    text-align: center;
}

.title-descr {
    font-family: "GT Eesti Pro Display Light", arial, sans-serif;
    margin-inline: 6vw;
    font-weight: 350;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
}

.font-other {
    text-decoration: none;
    font-family: "GT Eesti Pro Display Light", arial, sans-serif;
    font-style: normal;
    font-weight: 350;
    color: var(--font-color);
}

.btn {
    width: auto;
    grid-area: btn;
    padding-block: 5px;
    padding-inline: 29px;
    font-size: 20px;
    line-height: 28px;
    place-self: center;
    background: var(--btn-color);
    mix-blend-mode: normal;
    border-radius: 7px;
    justify-self: center;
    transition: transform .1s ease-out, background-color .15s linear;
}

.btn-info {
    width: auto;
    grid-area: btnInfo;
    padding-block: 5px;
    padding-inline: 40px;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 28px;
    place-self: center;
    background: var(--trailer-button);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    transition: transform .1s ease-out, background-color .15s linear;
}

.btn-info:active {
    transform: scale(0.94);
    transform: scale(0.94);
}

.btn-info:hover {
    background: var(--trailer-button-hover);
}

.btn:active {
    transform: scale(0.94);
    transform: scale(0.94);
}

.btn:hover {
    background: var(--btn-hover-color);
}

