div.sidebar
    div.font.title-main-movie
        div.title-name 1+1
        div.title-descr «Sometimes you have to reach into someone else's world to find out what's missing in your own»
    a.btn.font-other(href="/") Смотреть онлайн
    a.btn-info.font-other(href="/movie/4") О фильме

