div.sidebar
    div.font.title-main-movie
        div.title-name 1+1
        div.title-descr «Sometimes you have to reach into someone else's world to find out what's missing in your own»
    div.btn
        a.font-other(href="/") Смотреть онлайн
    div.btn-info
        a.font-other(href="/") О фильме
