mixin mainMovie(items)
        div.sidebar
            div.font.title
                div.titleName 1+1
                div.titleDescr «Sometimes you have to reach into someone else's world to find out what's missing in your own»
            div.btn
                a.fontOther(href="/") Смотреть онлайн
            div.btnInfo
                a.fontOther(href="/") О фильме

+ mainMovie(items)