div.sidebar
    div.font.title-main-movie
        div.head-movie__name(style=`background-image: url(\"${info.name_picture}\");`)
        div.title-descr "#{info.tagline}"
    a.btn.font-other(href="/") Смотреть онлайн
    a.btn-info.font-other(href=`/movie/${info.id}`) О фильме

