div.sidebar
    div.font.title-main-movie
        div.title-name #{info.name}
        div.title-descr #{info.tagline}
    a.btn.font-other(href="/") Смотреть онлайн
    a.btn-info.font-other(href=`/movie/${info.id}`) О фильме

