
.font-nav {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-family: GT Eesti Pro Display, arial, sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    margin-bottom: 30px;
    flex-direction: row;
    background-image: url("../../../static/1+1.jpg");
    background-size: cover;
    grid-area: header;
    height: 100%;
}


.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 30px;

    align-items: center;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    background: linear-gradient(180deg, #070606 6.08%, rgba(7, 6, 6, 0.5) 55.03%, rgba(14, 12, 12, 0.25) 78.99%, rgba(27, 23, 23, 0.1) 90.45%, rgba(27, 23, 23, 0) 100%);
}

.logo-home {
    margin-block: 8px;
    height: 60px;
    padding-inline-start: 44px;
}




.space {
    flex-grow: 1;
}


.form-search {
    width: 300px;
    position: relative;
    margin: 0 30px;
    height: 34px;
}


.input-search[type=text] {
    border: 0;
    background-color: transparent;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: GT Eesti Pro Display, arial, sans-serif;
}

::placeholder {
    color: #FFFFFF;
    font-family: GT Eesti Pro Display, arial, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    opacity: 1;
}

.input-search {
    color: white;
    font-size: 24px;
    height: 100%;
    width: 0;
    padding: 0 42px 0 15px;
    font-family: GT Eesti Pro Display, arial, sans-serif;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.input-search:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}

/* When the input field gets focus, change its width to 100% */
.input-search[type=text]:focus {
    width: 90%;
}

.btn-search {
    cursor: pointer;
    width: 34px;
    border: 0;
    margin-inline: -40px;
    height: 100%;
    background: url("../../../static/lupa.png");
    background-size: 100%;


}


.search {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.name-profile{
    margin-inline-start: 30px;
}

.profile {
    margin-inline-end: 30px;
    flex-grow: 1;
}


.btn-profile {
    width: 50px;
    height: 50px;
    background-image: url("../../../static/profile.png");
    cursor: pointer;
    border: 0;
    background-size: contain;
    background-color: transparent;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 23px;
    background:linear-gradient(206.08deg, rgb(7 6 6 / 50%) -40.85%, rgb(7 6 6 / 18%) 97.87%);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 16px;
    color :white;
    padding: 12px 16px;
    text-decoration: none;

    display: block;
}
.dropdown-content a:hover {
    background: linear-gradient(121.9deg, rgba(0, 0, 0, 0.4) 16.73%, rgba(20, 20, 20, 0.168) 340.95%);
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {display: block;}
