div.menu-mobile
    svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24.75px" height="24.75px" viewBox="0 0 24.75 24.75" style="enable-background:new 0 0 24.75 24.75;" xml:space="preserve")
        g
            path(d="M0,3.875c0-1.104,0.896-2,2-2h20.75c1.104,0,2,0.896,2,2s-0.896,2-2,2H2C0.896,5.875,0,4.979,0,3.875z M22.75,10.375H2c-1.104,0-2,0.896-2,2c0,1.104,0.896,2,2,2h20.75c1.104,0,2-0.896,2-2C24.75,11.271,23.855,10.375,22.75,10.375z M22.75,18.875H2c-1.104,0-2,0.896-2,2s0.896,2,2,2h20.75c1.104,0,2-0.896,2-2S23.855,18.875,22.75,18.875z")
    div.menu-mobile__vertical
        a.menu-mobile__nav.home-js(href="/") Главная
        a.menu-mobile__nav.movie-js(href="/") Фильмы
        a.menu-mobile__nav.serials-js(href="/") Сериалы
        a.menu-mobile__nav.favourite-js(href="/") Избранное
a.logo-link(href="/")
    object.logo-home(type = "image/png", data = "../static/logo.png")
div.desktop-navbar
    a.font-nav.home-js(href="/") Главная
    a.font-nav.movie-js(href="/") Фильмы
    a.font-nav.serials-js(href="/") Сериалы
    a.font-nav.favourite-js(href="/") Избранное
div.space
a.font-nav.name-profile(href='/profile')  !{item.username}
div.profile-block
    div.profile.dropdown
        div.btn-profile(style=`background-image: url(\"${item.avatar}\");`)
        div.dropdown-content
            a.font(href="/profile") Профиль
            a.quit.font(href="/login") Выйти