a.logo-link(href="/")
    object.logo-home(type = "image/png", data = "../static/logo.png")
a.font-nav.home-js(href="/") Главная
a.font-nav.movie-js(href="/") Фильмы
a.font-nav.serials-js(href="/") Сериалы
a.font-nav.favourite-js(href="/") Избранное
div.space
a.font-nav.name-profile(href='/profile')  !{item.username}
div.profile-block
    div.profile.dropdown
        div.btn-profile(style=`background-image: url(\"${item.avatar}\");`)
        div.dropdown-content
            a.font(href="/profile") Профиль
            a.quit.font(href="/login") Выйти