mixin header(items)
    div.header
        div.navbar.font
            object.logo(type = "image/png", data = "../static/logo.png")
            a.label.font(href="/") Главная
            a.label.font(href="/") Фильмы
            a.label.font(href="/") Сериалы
            a.label.font(href="/") Избранное
            div.space
            object.searchBtn(type = "image/png", data = "../static/lupa.png")
            div.profile
                img.profileImg(src = "../static/profile.png")
        div.mainMovie
            div.sidebar
                div.font.title
                    div.titleName 1+1
                    div.titleDescr «Sometimes you have to reach into someone else's world to find out what's missing in your own»
                div.btn
                    a.fontOther(href="/") Смотреть онлайн
                div.btnInfo
                    a.fontOther(href="/") О фильме


+ header(items)