.font-nav {
    font-family: "GT Eesti Pro Display Medium", arial, serif;
    text-decoration: none;
    color: var(--font-color);
    font-style: normal;
    font-weight: bold;
    padding-inline: 20px;
    text-shadow: 0 4px 4px var(--nav-font-shadow);
    cursor: pointer;
    transition: all .2s linear;
}

.menu-mobile__nav:hover,
.font-nav:hover {
    color: var(--mix-color);
}

.header {
    margin-bottom: 30px;
    flex-direction: row;
    background-size: cover;
    grid-area: header;
    height: 90vh;
}

.navbar {
    z-index: 4;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 30px;
    align-items: center;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    background:  var(--nav-back);
    transition: background 0.6s linear;
}

.navbar-color {
    background: var(--footer-color);
}

.logo-home {
    margin-block: 8px;
    height: 60px;
    padding-inline-start: 65px;
}

.space {
    flex-grow: 1;
}

.form-search {
    width: 300px;
    position: relative;
    height: 34px;
}

.input-search[type=text] {
    border: 0;
    background-color: transparent;
    width: 100px;
    transition: width 0.4s ease-in-out;
    font-family: "GT Eesti Pro Display", arial, sans-serif;
}

::placeholder {
    color: var(--font-color);
    font-family: "GT Eesti Pro Display", arial, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    opacity: 1;
}

.input-search {
    color: var(--font-color);
    font-size: 24px;
    height: 100%;
    width: 0;
    padding: 0 42px 0 15px;
    font-family: "GT Eesti Pro Display", arial, sans-serif;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.input-search:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid var(--font-color);
}

.input-search[type=text]:focus {
    width: 90%;
}

.btn-search {
    cursor: pointer;
    width: 34px;
    border: 0;
    margin-inline: -40px;
    height: 100%;
    background: url("../../static/lupa.png");
    background-size: 100%;
}

.search {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: var(--font-color);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}


.profile-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-inline-end: 33px;
    cursor: pointer;
    height: 82px;
    width: 62px;
}

.name-profile {
    cursor: pointer;
    text-decoration: none;
}

.profile {
    float: right;

}

.btn-profile {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    background-size: cover;
    background-color: transparent;
}

.dropdown {
    position: relative;
    padding-block: 30px;
    display: flex;
    justify-content: space-around;
}

.dropdown-content {
    right: auto;
    display: none;
    margin-block: 66px;
    position: absolute;
    background: var(--trailer-button);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 var(--drop-shadow);
    z-index: 1;
}



.dropdown-content a {
    font-size: 16px;
    color: var(--font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: var(--trailer-button-hover);
    border-radius: 5px;
}

.profile-block:hover .dropdown-content {
    display: block;
}

.menu-mobile{
    display: none;
    margin-inline-start: 70px;
    justify-content: flex-start;
}


.menuSymbol{
    transition-property: transform fill;
    transition-duration: 1s;
    transition-timing-function: ease;
    fill: white;
}

.menuSymbol__action{
    transform: scale(1.2) rotate(360deg);
    fill: var(--mix-color);
}



.menu-mobile__vertical{
    top: 84px;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    background: var(--drop-back);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 var(--drop-shadow);
    display: none;
}
.menu-mobile__nav{
    font-family: "GT Eesti Pro Display Medium", arial, serif;
    text-decoration: none;
    color: var(--font-color);
    font-style: normal;
    font-weight: bold;
    padding: 10px 25vw 10px 10px;
    /* padding-block-start: 10px; */
    text-shadow: 0 4px 4px var(--nav-font-shadow);
    cursor: pointer;
    transition: all .2s linear;
}

.dropdown-content {
    right: auto;
    display: none;
    margin-block: 66px;
    position: absolute;
    background: var(--trailer-button);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 var(--drop-shadow);
    z-index: 1;
}
/*.dropdown-content::before{*/
/*    top: -16px;*/
/*    right: 9px;*/
/*    left: auto;*/
/*    border: 8px solid transparent;*/
/*    border-bottom-color: var(--drop-back);*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    content: "";*/
/*}*/


.dropdown-content a {
    font-size: 16px;
    color: var(--font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: var(--trailer-button-hover);
    border-radius: 5px;
}

.profile-block:hover .dropdown-content {
    display: block;
}
