mixin header(items)
        object.logoHome(type = "image/png", data = "../static/logo.png")
        a.font(href="/") Главная
        a.font(href="/") Фильмы
        a.font(href="/") Сериалы
        a.font(href="/") Избранное
        div.space
        form.formSearch
            div.search
                input.inputSearch(type="text", placeholder="Поиск")
                button.btnSearch(type="submit")
        div.profile.dropdown
            button.btnProfile
            div.dropdown-content
                a.font(href="/") Профиль
                a.font(href="/") Выйти


+ header(items)