div.navbar.profile-navbar !{header}
div.back-profile
div.back-menu-profile.mobile-sub-menu
    div.menu-sub
        if (checkSub)
            div.menu-sub__text Все фильмы и сериалы в одной подписке!
            div.menu-sub__second-text Неограниченный доступ к фильмам и сериалам на месяц за 2₽.
            div.error Упс... Что-то пошло не так!
            div.sub-btn !{button}
        else
            div.menu-sub__text Подписка активна!
            div.menu-sub__second-text Подписка истечет #{date}
div !{footer}