mixin loginView(items)
    div#back
    object.logo(type="image/svg+xml", data="../../static/Logo.svg")
    div#back-menu
        div#menu
            h1.menu-h1 Вход
            form.menu-form(method="post", action=".", noValidate) !{items.inputs}
                button.menu-button(type="submit") Войти
            div.text
                span.first-span Нет аккаунта?
                a.second-span(href="/reg") Зарегистрируйтесь!
    div !{items.footer}

+ loginView(items)