.head-movie__name {
    width: 567px;
    background-size: contain;
    object-fit: contain;
    height: 110px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.short-info.info__genre-first:hover {
    text-decoration: underline;
}

.info__year {
    padding-right: 10px;
}

.info__genre-first {
    color: white;
    text-decoration: none;
}

.head-movie__rating {
    cursor: default;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.string-rating {
    display: flex;
    flex-direction: column;
    margin-right: 74px;
}

.rating {
    color: var(--great-rating);
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.our-name {
    background-color: var(--our-name);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--our-name-gradient);
    font-size: 20px;
    font-weight: lighter;
}

.poisk-name {
    color: var(--secondary-name);
    font-size: 20px;
    font-weight: lighter;
}

.head-movie__info {
    cursor: default;
    margin-bottom: 24px;
    display: flex;
}

.short-info {
    font-weight: lighter;
    font-size: 22px;
    margin-right: 6px;
}

.info__genre {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin-right: 16px;
}

.info__genre:hover {
    text-decoration: underline;
}

.info__country {
    margin-right: 16px;
}

.info__duration {
    margin-right: 16px;
}

.head-movie__buttons {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
}

.play-button {
    font-weight: lighter;
    font-family: GT Eesti Pro Display, arial, sans-serif;
    color: var(--font-color);
    font-size: 20px;
    height: 44px;
    width: 232px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    background: var(--btn-color);
    mix-blend-mode: normal;
    border-radius: 10px;
    transition: transform 0.1s ease-out, background-color 0.15s linear;
}
.play-button:active {
    transform: scale(0.94);
}
.play-button:hover {
    background: var(--btn-hover-color);
}

.trailer-button {
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: lighter;
    font-family: GT Eesti Pro Display, arial, sans-serif;
    color: var(--font-color);
    font-size: 20px;
    width: 164px;
    cursor: pointer;
    border: 3px solid var(--mix-color);
    background: transparent;
    mix-blend-mode: normal;
    border-radius: 10px;
    transition: transform 0.1s ease-out, background-color 0.15s linear;
}

.trailer-button:active {
    transform: scale(0.94);
}

.trailer-button:hover {
    background: var(--trailer-button-hover);
}
