img.head-movie__name(src="../../static/AvengersName.png")
div.head-movie__rating
    div.string-rating
        div.rating.our-rating 8.9
        div.our-name MovieSpace
    div.string-rating
        div.rating.poisk-rating 7.9
        div.poisk-name КиноПоиск
div.head-movie__info
    div.short-info.info__year 2012,
    div.short-info.info__genre фантастика, боевик
    div.short-info.info__country США
    div.short-info.info__duration 2 ч 17 мин
    div.short-info.info__age 12+
div.head-movie__buttons
    button.play-button Смотреть фильм
    button.trailer-button Трейлер
    input#cb(type="checkbox")

