mixin carousel(items)
    each item in items
        div.movie
            a(href='/')
                div.refMov
            div.descMov
                div= item.name
                div.genre= item.genre
                input#cb.inputLike(type = "checkbox")

+ carousel(items)