div.head-person__name Леонардо ДиКаприо
div.head-person__job Актер, Продюсер, Сценарист
div.head-person__descr Родился 11 ноября 1974 года Полноценную актёрскую карьеру начал в шестнадцать лет в начале 1990-х годов. В 2000-х годах получил признание публики и критиков за актёрское мастерство. Лауреат многочисленных наград, включая премию «Оскар», BAFTA, премию Гильдии киноактёров США,три премии «Золотой глобус»
    //div !{headPerson}
div.add-photos
    img.add-photos__photo(src="../../static/leo1.png")
    img.add-photos__photo(src="../../static/leo2.webp")


