.head-person__name {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 58px;
    color: var(--font-color);
}

.head-person__job {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: var(--secondary-name);
}

.head-person__descr {
    font-weight: 400;
    margin: 20px 60vw 20px 0;
    font-size: 18px;
    line-height: 21px;
    color: var(--font-color);
}

.add-photos {
    display: flex;
    justify-content: flex-start;
    column-gap: 22px;
    margin-bottom: 28px;
}

.add-photos__photo {
    object-fit: cover;
    border-radius: 10px;
    width: 252px;
    height: 212px;
}
//.add-photos__photo:hover {
//  transform: scale(1.05);
//}
