@import url("../static/fonts/GTEestiProDisplay/stylesheet.css");

body {
    font-family: "GT Eesti Pro Display", sans-serif;
    text-decoration: none;
    color: var(--font-color);
    margin: 0;
    width: 100%;
    max-width: 100%;

}

:root {
    --progress-bar: #5B5B5B;
    --back-color: #01090B;
    --font-color: #FFF;
    --font-footer-color: #C3C3C2;
    --font-error-color: red;
    --font-first-span-color: grey;
    --input-back: rgb(255 255 255 / 20%);
    --menu-back: linear-gradient(199.6deg, #8D8D8D -95.93%, rgb(255 255 255 / 0%) 108.19%);
    --sidebar-back: linear-gradient(206.08deg, rgb(98 98 98 / 38%) -40.85%, rgb(56 56 56 / 56%) 97.87%);
    --btn-color: linear-gradient(90deg, #C951AB -12.3%, #2B54BC 93.57%);
    --btn-hover-color: linear-gradient(90deg, #A6418D -12.3%, #24469D 93.57%);
    --btn-info-color: linear-gradient(121.9deg, rgb(0 0 0 / 40%) 16.73%, rgb(20 20 20 / 16.8%) 340.95%);
    --btn-info-hover-color: linear-gradient(56.9deg, rgb(0 0 0 / 40%) 456%, rgb(20 20 20 / 16.8%) 16.73%);
    --nav-back: linear-gradient(180deg, #070606 6.08%, rgb(7 6 6 / 68%) 55.03%, rgb(14 12 12 / 42%) 78.99%, rgb(27 23 23 / 10%) 90.45%, rgb(27 23 23 / 0%) 100%);
    --nav-font-shadow: rgb(0 0 0 / 25%);
    --popup-serials: #222;
    --movie-gradient-mobile: linear-gradient(180deg, rgba(1, 9, 11, 0) 2%, #01090B 80%);
    /*--drop-back: linear-gradient(206.08deg, rgb(98 98 98 / 38%) -40.85%, rgb(56 56 56 / 56%) 97.87%);*/
    --drop-back: linear-gradient(206.08deg, rgb(0 0 0 / 81%) -40.85%, rgb(46 45 45 / 92%) 97.87%);
    --drop-shadow: rgb(0 0 0 / 20%);
    --drop-back-hover: linear-gradient(121.9deg, rgb(0 0 0 / 40%) 16.73%, rgb(20 20 20 / 16.8%) 340.95%);
    --btn-carousel-color: #ffffffc2;
    --btn-carousel-back: rgb(7 6 6 / 61%);
    --btn-carousel-back-hover: rgb(7 6 6 / 61%);
    --desc-mov-back: linear-gradient(180deg, rgb(196 196 196 / 0%) -79.55%, #000 124.95%);
    --genre-color: #707070;
    --movie-gradient: linear-gradient(90deg, #070606 6.08%, rgba(7, 6, 6, 0.5) 75.03%, rgba(14, 12, 12, 0.25) 88.99%, rgba(27, 23, 23, 0.1) 90.45%, rgba(27, 23, 23, 0) 100%);
    --great-rating: #3BB33B;
    --our-name: #2C51B1;
    --our-name-gradient: linear-gradient(180deg, #BD4CA1 20%, #2C51B1 100%);
    --secondary-name: #9B9B9B;
    --trailer-button: linear-gradient(121.9deg, #6D6D6D 16.73%, #000000 340.95%);
    --mix-color: #744FA9;
    --trailer-button-hover: linear-gradient(121.9deg, #4B4B4B 16.73%, rgba(20, 20, 20, 0.294) 340.95%);
    --footer-color: #020C0F;
}