@import '../components/footer/footer.scss';
@import '../components/header/header.scss';
@import '../components/carousel/carousel.scss';
@import '../components/mainMovie/mainMovie.scss';

.root {
    display: grid;
    margin: 0;
    background-color: var(--back-color);
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.first{
    margin-top: -50px;
}





