#footer {
  cursor: default;
  display: flex;
  width: 100%;
  position: absolute;
  background: var(--footer-color);
  height: 150px;
  justify-content: space-between;
}

.left {
  margin-left: 4vw;
  width: 60%;
  display: flex;
}

#second-footer {
  margin-left: 20px;
  display: block;
  width: 350px;
}

#third-footer {
  text-align: end;
  display: block;
  grid-area: fourth;
}

.titleFooter {
  font-weight: lighter;
  text-align: left;
  color: var(--font-footer-color);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}

.content {
  font-weight: lighter;
  text-decoration: none;
  color: var(--font-footer-color);
  font-size: 15px;
}

.refer {
  height: 39px;
  width: 39px;
  margin-top: 20px;
  transition: transform 0.1s linear;
}

.refer:hover {
  transform: scale(1.2);
}

.ref {
  margin-right: 70px;
}

.font-nav {
  text-decoration: none;
  color: var(--font-color);
  font-style: normal;
  font-weight: 500;
  padding-inline: 20px;
  text-shadow: 0 4px 4px var(--nav-font-shadow);
  cursor: pointer;
  transition: all 0.2s linear;
}

.menu-mobile__nav:hover,
.font-nav:hover {
  color: var(--mix-color);
}

.header {
  margin-bottom: 30px;
  flex-direction: row;
  background-size: cover;
  grid-area: header;
  height: 88vh;
}

.navbar {
  z-index: 4;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  text-align: center;
  background: var(--nav-back);
  transition: background 0.6s linear;
}

.navbar-color {
  background: var(--footer-color);
}

.logo-link {
  margin-inline: 4vw;
}

.logo-home {
  margin-block: 8px;
  height: 60px;
}

.search {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

.close-btn,
.search__btn {
  cursor: pointer;
  transition: all 0.2s linear;
}

.close-btn {
  transform: scale(1.5);
  margin-inline-start: 10px;
  place-self: center;
  fill: var(--font-color);
  cursor: pointer;
  transition: all 0.2s linear;
  display: none;
}

.close-btn:hover {
  fill: var(--mix-color);
  transform: scale(1.2);
}

.search__btn:hover {
  transform: scale(1.1);
}

.search-topic {
  height: 5vw;
  background: rgba(112, 99, 99, 0.26);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.search-menu {
  display: none;
  z-index: 3;
  border-radius: 10px;
  background: var(--search-back);
  margin: 4rem auto auto auto;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  max-height: 80vh;
  padding-bottom: 30px;
}

.menu__input {
  background: rgba(0, 0, 0, 0);
  display: none;
  font-family: "GT Eesti Pro Display", sans-serif;
  color: var(--font-color);
  padding-inline-start: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-size: 22px;
  background: var(--drop-back);
}

.menu__input:focus {
  outline: none;
}

.menu__input::placeholder {
  color: var(--font-color);
  font-size: 20px;
}

.menu__input:focus {
  background-color: var(--font-color);
}

.submit {
  display: none;
}

.search__form {
  position: relative;
  width: 100%;
  display: flex;
}

.padding-names {
  padding-inline: 10px;
}

.font-search {
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  color: var(--genre-color);
}

.font-res {
  text-decoration: none;
  color: var(--font-color);
  font-style: normal;
  font-weight: 500;
  text-shadow: 0 4px 4px var(--nav-font-shadow);
  cursor: pointer;
  transition: all 0.2s linear;
}

.font-topics {
  margin: 30px auto 10px 0;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: var(--font-color);
}

.font-menu-search {
  text-decoration: none;
  color: var(--font-color);
  font-style: normal;
  font-weight: 500;
  text-shadow: 0 4px 4px var(--nav-font-shadow);
  cursor: pointer;
  transition: all 0.2s linear;
}

.profile-block {
  display: flex;
  flex-direction: row;
  margin-inline-end: 4vw;
  cursor: pointer;
  height: 82px;
  align-items: center;
}

.name-profile {
  cursor: pointer;
  text-decoration: none;
}

.name-profile-mobile {
  cursor: pointer;
  text-decoration: none;
  display: none;
}

.profile {
  float: right;
}

.btn-profile {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background-size: cover;
  background-color: transparent;
}

.dropdown {
  position: relative;
  padding-block: 30px;
  display: flex;
  justify-content: space-around;
}

.dropdown-content {
  right: auto;
  display: none;
  margin-block: 66px;
  position: absolute;
  background: var(--drop-back);
  border-radius: 5px;
  text-shadow: 0 4px 4px var(--nav-font-shadow);
  z-index: 1;
  transition: all 0.1s linear;
  font-weight: 500;
  text-decoration: none;
  color: var(--font-color);
}

.dropdown-content a {
  transition: all 0.2s linear;
  font-size: 18px;
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.font-menu-search:hover,
.dropdown-content a:hover {
  color: var(--mix-color);
}

.menu-mobile {
  display: none;
  margin-inline: 4vw;
  justify-content: flex-start;
}

.menuSymbol {
  transition-property: transform fill;
  transition-duration: 1s;
  transition-timing-function: ease;
  fill: white;
}

.menuSymbol__action {
  transform: scale(1.2) rotate(360deg);
  fill: var(--mix-color);
}

.menu-mobile__vertical {
  top: 80px;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  background: var(--drop-back);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 var(--drop-shadow);
  display: none;
}

.menu-mobile__nav {
  font-weight: 500;
  text-decoration: none;
  color: var(--font-color);
  font-size: 20px;
  padding: 10px 20vw 10px 10px;
  /* padding-block-start: 10px; */
  text-shadow: 0 4px 4px var(--nav-font-shadow);
  cursor: pointer;
  transition: all 0.2s linear;
}

.dropdown-content a {
  font-size: 16px;
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile-block:hover .dropdown-content {
  display: block;
}

.b-carouselTop__prev,
.b-carouselTop__next {
  border: 0;
  width: calc(2vw + 50px);
  font-size: calc(1vw + 40px);
  position: absolute;
  top: 50%;
  background-color: transparent;
  height: 100%;
  transform: translateY(-50%) translateZ(0);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  z-index: 3;
  color: transparent;
}

.b-carouselTop {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  padding-inline: 4vw;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}

.b-carouselTop__wrap {
  display: flex;
  transition: transform 0.75s ease-in-out;
  will-change: transform;
  position: relative;
  z-index: 1;
  height: 100%;
}

.b-carouselTop__prev {
  visibility: hidden;
  height: 100%;
  background-color: transparent;
  left: 0;
  transition: all 0.4s ease;
}

.b-carouselTop__next {
  visibility: hidden;
  height: 100%;
  background-color: transparent;
  left: auto;
  right: 0;
  transition: all 0.4s ease;
}

.b-carouselTop__prev:hover,
.b-carouselTop__next:hover {
  color: var(--btn-carousel-color);
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease;
}

.movieTop {
  transform: scale(0.95);
  transition: all 0.1s ease;
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 50px;
  column-gap: 10px;
  width: 425px;
  height: 235px;
  row-gap: 10px;
  border-radius: 12px;
  grid-template-areas: "refMov " "descMov";
}

.movieTop:hover {
  transform: scale(1);
}

.desc-movTop {
  margin-bottom: -1px;
  cursor: default;
  display: flex;
  padding-inline: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 16px;
  line-height: 19px;
  background: var(--desc-mov-back);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.72);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  grid-area: descMov;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  text-decoration: none;
  font-weight: normal;
}

.wrap {
  width: 100%;
  max-width: 100vw;
  position: relative;
}

.b-carousel {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  padding-inline: 4vw;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}

.b-carousel::-webkit-scrollbar {
  height: 0;
}

.b-carousel__prev,
.b-carousel__next {
  border: 0;
  width: calc(2vw + 40px);
  font-size: calc(1vw + 30px);
  position: absolute;
  top: 50%;
  background-color: transparent;
  height: 100%;
  transform: translateY(-50%) translateZ(0);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  z-index: 3;
  color: transparent;
  visibility: hidden;
}

.b-carousel__prev {
  left: 0;
  transition: all 0.4s ease;
}

.b-carousel__next {
  right: 0;
  transition: all 0.4s ease;
}

.b-carousel__prev-hover,
.b-carousel__next-hover {
  color: var(--btn-carousel-color);
  width: 54px;
  font-size: 40px;
  background-color: var(--btn-carousel-back-hover);
}

.b-carousel__prev:hover,
.b-carousel__next:hover {
  color: var(--btn-carousel-color);
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease;
}

.b-carousel__wrap {
  display: flex;
  transition: transform 0.75s ease-in-out;
  will-change: transform;
  position: relative;
  z-index: 1;
  height: 100%;
}

.b-carousel__item {
  flex: 0 0 100%;
  width: 1px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}

.b-carousel__img {
  height: 100%;
  object-fit: cover;
}

.movie__href {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: var(--font-color);
}

.movieTop__href {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: var(--font-color);
}

.movie {
  transform: scale(0.95);
  background-size: cover;
  background-position-x: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 50px;
  column-gap: 10px;
  width: 320px;
  height: 180px;
  row-gap: 10px;
  border-radius: 24px;
  overflow: visible;
  transition: all 0.2s ease;
  grid-template-areas: "refMov " "descMov";
}

.movie:hover {
  transform: scale(1);
}

.ref-mov {
  grid-area: movie;
}

.desc-mov {
  margin-bottom: -1px;
  cursor: default;
  display: flex;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.72);
  padding-inline: 5px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  font-size: 14px;
  background: var(--desc-mov-back);
  grid-area: descMov;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  text-decoration: none;
  font-weight: normal;
}

.genre {
  font-weight: 350;
  font-size: 14px;
  line-height: 14px;
  color: var(--genre-color);
  text-decoration: none;
  cursor: pointer;
}

.title {
  text-align: center;
  grid-area: title;
}

.title-name {
  font-size: 96px;
  line-height: 111px;
}

.title-descr {
  font-weight: 350;
  font-size: 30px;
  line-height: 35px;
}

#selectMobile {
  display: none;
}

.selection {
  overflow-x: hidden;
  background-color: var(--back-color);
  display: grid;
  grid-template-columns: auto;
  column-gap: 10px;
  grid-template-rows: auto;
  row-gap: 10px;
}

.select-title {
  inline-size: max-content;
  font-size: 28px;
  line-height: 42px;
  margin-inline-start: 4vw;
  margin-block-start: 60px;
  font-style: normal;
  font-weight: 500;
}

.select-movies {
  width: 1280px;
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 28px;
  grid-template-rows: auto;
}

.like-size {
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
}

#cbMovie,
#cb {
  visibility: hidden;
  text-align: -webkit-center;
}

#cbMovie:hover::after,
#cb:hover::after {
  display: block;
  content: " ";
  background-image: url("../static/activeLike.png");
  background-position: center;
}

#cbMovie,
#cb,
#cbMovie::after,
#cbMovie:checked::after,
#cb::after,
#cb:checked::after {
  margin-left: -8px;
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}

#cbMovie::after,
#cb::after {
  cursor: pointer;
  transition-property: transform;
  transition: all 0.1s ease;
  visibility: visible;
  display: block;
  content: " ";
  background-image: url("../static/heart.png");
}

#cbMovie:checked::after,
#cb:checked::after {
  transform: scale(1.2);
  display: block;
  content: " ";
  background-image: url("../static/activeLike.png");
  background-position: center;
  /*background-size: 36px 36px;*/
  /*height: 36px;*/
  /*width: 36px;*/
}

#like {
  display: block;
}

#like-active {
  display: none;
}

.main-movie {
  display: flex;
  height: 100%;
  justify-content: flex-start;
}

.sidebar {
  margin: 0 10px 10px 4vw;
  align-content: center;
  border-radius: 32px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: auto auto;
  grid-template-areas: "title title" "btn btnInfo";
}

.main-movie__name {
  background-position-x: center;
  background-size: contain;
  object-fit: contain;
  height: 110px;
  background-repeat: no-repeat;
}

.title-main-movie {
  display: flex;
  cursor: default;
  text-align: center;
  grid-area: title;
  flex-direction: column;
}

.title-name {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 80px;
  align-items: center;
  text-align: center;
}

.title-descr {
  margin-top: 20px;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
}

.font-other {
  text-decoration: none;
  font-weight: 350;
  color: var(--font-color);
}

.btn {
  font-family: GT Eesti Pro Display, arial, sans-serif;
  color: var(--font-color);
  font-size: 20px;
  height: 44px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  background: var(--btn-color);
  mix-blend-mode: normal;
  border-radius: 10px;
  transition: transform 0.1s ease-out, background-color 0.15s linear;
  width: auto;
  font-weight: 350;
  grid-area: btn;
  padding-block: 5px;
  padding-inline: 29px;
  line-height: 28px;
  place-self: center;
  background: var(--btn-color);
  justify-self: center;
}

.btn-info {
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: GT Eesti Pro Display, arial, sans-serif;
  color: var(--font-color);
  font-size: 20px;
  cursor: pointer;
  border: 3px solid var(--mix-color);
  mix-blend-mode: normal;
  width: auto;
  grid-area: btnInfo;
  padding-block: 5px;
  padding-inline: 40px;
  font-style: normal;
  font-weight: 350;
  line-height: 28px;
  place-self: center;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: transform 0.1s ease-out, background-color 0.15s linear;
}

.btn-info:active {
  transform: scale(0.94);
  transform: scale(0.94);
}

.btn-info:hover {
  background: var(--trailer-button-hover);
}

.btn:active {
  transform: scale(0.94);
  transform: scale(0.94);
}

.btn:hover {
  background: var(--btn-hover-color);
}

.root {
  display: grid;
  margin: 0;
  background-color: var(--back-color);
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer";
}

.first {
  margin-top: -60px;
}

.last {
  margin-bottom: 50px;
}

.headline-style {
  background-color: #2c51b1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(180deg, #bd4ca1 20%, #2c51b1 100%);
}

/*# sourceMappingURL=home.css.map */
