@import "../components/carousel/carousel";

.root {
    display: grid;
    margin: 0;
    background-color: var(--back-color);
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.first {
  margin-top: -60px;
}
.last {
    margin-bottom: 100px;
}

.headline-style {
    background-color: #2c51b1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #bd4ca1 20%, #2c51b1 100%);
}

@media (min-width: 1450px) and (max-width: 1600px) {
    .formSearch {
        flex-grow: 2;
    }
}

@media (max-width: 1000px) {
    .main-movie__name {
        height: 60px;
    }

    .main-movie {
        height: auto;
        justify-content: center;
    }

    .sidebar {
        margin: 4vw;
        align-content: center;
        width: 100%;
        border-radius: 32px;
        display: grid;
        column-gap: 10px;
        grid-template-rows: auto;
        grid-template-areas:
            "title title"
            "btn btnInfo";
    }

    .title-descr {
        margin-top: 10px;
        line-height: 22px;
        font-size: 25px;
    }

    .btn,
    .btn-info {
        padding: 2px 9px;
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    .sidebar {
        width: calc(1vw + 582px);
    }
}


@media (min-width: 1800px) {
    .main-movie {
        justify-content: center;
    }
    .sidebar {
        transform: scale(1.3);
        margin: 0;
    }
}

@media (min-width: 2800px) {
    .sidebar {
        transform: scale(3);
    }
}

@media (min-width: 1450px) and (max-width: 1800px) {
    .btn,
    .btn-info {
        margin-inline: auto;
        font-size: calc(1vh + 20px);
    }

    .title-name {
        font-size: calc(1vw + 60px);
    }

    .title-descr {
        font-size: calc(1vw + 20px);
    }

    .desc-mov,
    .desc-movTop,
    .genre {
        font-size: calc(1vw + 0px);
    }

    #cb,
    #cb::after,
    #cb:checked::after {
        background-size: calc(1vw + 30px) calc(1vw + 30px);
        height: calc(1vw + 30px);
        width: calc(1vw + 30px);
    }
}

@media (min-width: 2000px) {
    .search__btn {
        transform: scale(1.8);
    }
    .close-btn{
        transform: scale(2.3);
    }
    .search__btn:hover {
        transform: scale(1.5);
    }
    .close-btn:hover{
        transform: scale(2);
    }
    .all-films__text {
        margin-top: calc(2vw + 150px);
    }
    .search-menu {
        margin: 7rem auto auto auto;
    }
    .logo-home {
        height: calc(3vw + 40px);
    }
    .font-nav {
        padding-inline: calc(1vw + 20px);
    }
    .dropdown-content a {
        padding: calc(1vw + 8px) 16px;
        font-size: calc(1vw + 12px);
    }
    .dropdown-content {
        margin-block: calc(1vw + 82px);
    }
    .profile-block {
        height: calc(3vw + 90px);
    }

    .movie {
        height: calc(3vw + 215px);
        grid-template-rows: auto 70px;
        width: calc(3vw + 380px);

    }
    .movieTop {
        height: calc(3vw + 250px);
        grid-template-rows: auto 60px;
        width: calc(3vw + 464px);
    }
    .desc-mov {
        font-size: 24px;
    }
    .genre {
        font-size: 20px;
    }
    .desc-movTop {
        font-size: 24px;
    }
}

