@import '../components/footer/footer';
@import '../components/header/header';
@import '../components/carousel/carousel';
@import '../components/mainMovie/mainMovie';

.root {
  display: grid;
  margin: 0;
  background-color: var(--back-color);
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.first {
  margin-top: -75px;
}

.headline-style {
  background-color: #2C51B1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(180deg, #BD4CA1 20%, #2C51B1 100%);
}



