@import '../components/footer/footer.css';
@import '../components/header/header.css';
@import '../components/carousel/carousel.css';
@import '../components/mainMovie/mainMovie.css';

body {
    font-family: GT Eesti Pro Display, arial, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}
.background{
    margin: 0;
    background-color: #01090B;
}
.root {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

.section {
    max-height: 250px;
    padding: 1rem;
    direction: ltr;
    scrollbar-width: thin;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p + p {
    margin-top: 1rem;
}

.section::-webkit-scrollbar {
    width: 20px;
}

.section::-webkit-scrollbar-track {
    background-color: #01090B;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #393449;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
