@import '../components/footer/footer.css';
@import '../components/button/button.css';
@import 'src/components/inputs/inputs.css';

@media (min-width: 1450px) and (max-width: 1600px) {
    #menu{
        width: 650px;
    }
    .formSearch{
        flex-grow: 2;
    }
    .select{
        width: 1500px;
    }
    .movie{
        width: 330px;
        height: 194px;
    }
    .movieTop{
        width: 425px;
        height: 245px;
    }
    .dropdown-content{
        right: -24px;
    }
}
@media (min-width: 1000px) and (max-width: 1450px) {
    .error {
        font-size: 14px;
    }
    .element {
        height: 40px;
    }
    .svg {
        height: 26px;
        width: 26px;
    }
    .menu-input::-webkit-input-placeholder {
        font-size: 16px;
    }
    .menu-input {
        font-size: 16px;
    }
    .menu-button {
        font-size: 22px;
        margin-top: 20px;
        height: 40px;
    }
    .first-span {
        font-size: 20px;
    }
    .second-span {
        font-size: 20px;
    }
    #menu{
        padding-top: 50px;
        padding-bottom: 40px;
        width: 600px;
    }
    .dropdown-content{
        right: 6px;
    }
    .profile{
        flex-grow: 1;
    }
}
@media (max-width: 1000px) {
    .logo {
        width: 136px;
        height: 80px;
        left: 10px;
    }
    #menu{
        width: 90%
    }
    #footer {
        height: auto;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select{
        margin-inline: 22px;
    }
    .dropdown-content{
        right: -22px;
    }
    .profile{
        flex-grow: 1;
    }
}

