@import '../components/footer/footer.css';
@import '../components/button/button.scss';
@import '../components/carousel/carousel.css';
@import '../components/inputs/inputs.css';


@media (min-width: 1728px) {


}

@media (min-width: 1450px) and (max-width: 1600px) {

    .formSearch {
        flex-grow: 2;
    }


    /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
    #menu {
        width: 500px;
    }

    /*МЕДИА ЗАПРОСЫ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/
    /*МЕДИА ЗАПРОСЫ ДЛЯ КАРУСЕЛЬКИ*/
    .movieTop {
        width: calc(5vw + 405px);
        height: calc(5vh + 235px);
    }

    .movie {
        grid-template-rows: auto calc(1vh + 50px);
        width: calc(5vw + 300px);
        height: calc(5vh + 180px);
    }

}

@media (min-width: 1000px) and (max-width: 1450px) {
    /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
    .error {
        font-size: 14px;
    }

    .papa {
        height: 75px;
    }

    .element {
        height: 40px;
    }

    .svg {
        height: 26px;
        width: 26px;
    }

    .menu-input::placeholder {
        font-size: 16px;
    }

    .menu-input {
        font-size: 16px;
    }

    .menu-button {
        font-size: 22px;
        margin-top: 20px;
        height: 40px;
    }

    .first-span {
        font-size: 20px;
    }

    .second-span {
        font-size: 20px;
    }

    #menu {
        padding-top: 50px;
        padding-bottom: 40px;
        width: 500px;
    }


}

@media (max-width: 1000px) {
    /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
    #back {
        height: calc(100vh + 80px);
    }

    .logo {
        width: 136px;
        height: 80px;
        left: 10px;
    }

    #menu {

        padding-top: 20px;
        padding-bottom: 20px;
        width: 85%;
        max-width: 600px;
    }

    .menu-h1 {
        font-size: 30px;
    }

    .papa {
        height: 85px;
    }

    .error {
        font-size: 16px;
    }

    .menu-button {
        font-size: 22px;
    }

    .text {
        font-size: 20px;
    }

    /*МЕДИА ЗАПРОСЫ ДЛЯ ХЕДЕРА*/
    .div-logo {
        height: 80px;
    }

    .desktop-navbar {
        display: none;
    }

    .menu-mobile {
        display: flex;
        cursor: pointer;
    }
    .menu-mobile:hover{

    }


    .logo-home {
        padding-inline-start: 0;
        height: 50px;
    }

    .profile-block {
        margin-inline-end: 70px;
    }

    .btn-profile {
        width: 40px;
        height: 40px;
    }

    /* для main movie*/
    .main-movie{
        justify-content: center;
    }
}

@media (max-width: 700px) {
    /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
    .div-logo {
        height: 60px;
    }

    .papa {
        height: 65px;
    }

    .element {
        height: 35px;
    }

    .menu-input {
        font-size: 16px;
    }

    .menu-input::placeholder {
        font-size: 14px;
    }

    .svg {
        margin: 5px 20px 5px 5px;
        width: 24px;
        height: 24px;
    }

    .menu-button {
        font-size: 18px;
        height: 40px;
        margin-top: 5px;
    }

    .error {
        font-size: 14px;
        padding-top: 1px;
    }

    .logo {
        top: 10px;
        width: 120px;
        height: 60px;
    }

    .text {
        margin-top: 5px;
    }

    .first-span {
        font-size: 18px;
    }

    .second-span {
        font-size: 18px;
    }

    /*МЕДИА ЗАПРОСЫ ДЛЯ ФУТЕРА*/
    .titleFooter {
        font-size: 20px;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .left {
        width: 85%;
        margin-left: 0;
        flex-direction: column;
    }

    #second-footer {
        margin-left: 0;
    }

    #third-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .ref {
        margin-right: 30px;
    }
}


@media (max-height: 450px) {
    #back {
        height: 100vw;
    }

    #back-menu {
        height: 100vw;
    }
}


@media (min-width: 1600px) and (max-width: 1800px) {
    /*МЕДИА ЗАПРОСЫ ДЛЯ КАРУСЕЛЬКИ*/
    .movie {
        grid-template-rows: auto calc(1vh + 50px);
        width: calc(6vw + 300px);
        height: calc(6vh + 180px);
    }

    .movieTop {
        width: calc(6vw + 405px);
        height: calc(6vh + 235px);
    }

    .movieTop {
        grid-template-rows: auto calc(1vw + 50px);
    }


}

@media (min-width: 1800px) {
    /*МЕДИА ЗАПРОСЫ ДЛЯ КАРУСЕЛЬКИ*/
    .movie {
        grid-template-rows: auto calc(3vh + 50px);
        width: calc(12vw + 300px);
        height: calc(12vh + 180px);
    }

    .movieTop {
        width: calc(12vw + 405px);
        height: calc(12vh + 235px);
    }

    .movieTop {
        grid-template-rows: auto calc(1vw + 50px);
    }


}


@media (min-width: 1450px) {
    /*МЕДИА ЗАПРОСЫ ДЛЯ ГЛАВНОЙ*/
    .sidebar {
        width: calc(1vw + 582px);
        margin-inline: calc(2vw + 30px);
    }

    .btn,
    .btn-info {
        margin-inline: auto;
        font-size: calc(1vw + 8px);
        line-height: calc(1vw + 20px);

    }

    .title-name {
        font-size: calc(1vw + 60px);
    }

    .title-descr {
        font-size: calc(1vw + 20px);
    }

    .desc-mov,
    .desc-movTop,
    .genre {
        font-size: calc(1vw + 0px);
    }


    .select-title {
        font-size: calc(1vw + 24px);
    }

    #cb,
    #cb:hover::after,
    #cb::after,
    #cb:checked::after {
        background-size: calc(1vw + 30px) calc(1vw + 30px);
        height: calc(1vw + 30px);
        width: calc(1vw + 30px);
    }
}