@import "../components/footer/footer.scss";
@import "../components/button/button.scss";
@import "../components/carousel/carousel.scss";
@import "../components/inputs/inputs.scss";

@media (min-width: 1450px) and (max-width: 1600px) {
  /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
  #menu {
    width: 500px;
  }

  /*МЕДИА ЗАПРОСЫ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/
  /*МЕДИА ЗАПРОСЫ ДЛЯ КАРУСЕЛЬКИ*/
  .formSearch {
    flex-grow: 2;
  }

}

@media (min-width: 1000px) and (max-width: 1450px) {
  /*МЕДИА ЗАПРОСЫ ДЛЯ ОШИБКИ*/
  .error-text__404 {
    text-align: center;
    font-size: 70px;
  }

  .error-text__info {
    font-size: 22px;
  }

  /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
  .error {
    font-size: 14px;
  }

  .papa {
    height: 70px;
  }

  .element {
    height: 40px;
  }

  .svg {
    height: 26px;
    width: 26px;
  }

  .menu-input::placeholder {
    font-size: 16px;
  }

  .menu-input {
    font-size: 16px;
  }

  .menu-button {
    font-size: 22px;
    margin-top: 20px;
    height: 40px;
  }

  .first-span {
    font-size: 20px;
  }

  .second-span {
    font-size: 20px;
  }

  #menu {
    padding-top: 50px;
    padding-bottom: 40px;
    width: 500px;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПРОФИЛЯ*/
  .menu-profile {
    width: 800px;
  }

  .profile-avatar {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 1000px) and (max-width: 1250px) {

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ФИЛЬМА*/
  .photo-movie {
    background-repeat: no-repeat;
    background-size: contain;
    height: 67vw;
  }

  .photo-movie__gradient {
    position: absolute;
    top: 0;
    height: 67vw;
  }

  .head-movie__name {
    margin-bottom: 0;
    width: 470px;
  }

  .first-part-info {
    margin-top: 0;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ  ПЛЕЕРА*/
  .novideo__text {
    margin-left: 30px;
    font-size: 60px;
  }
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    color: rgba(0, 0, 0, 0);
  }
  /*МЕДИА ЗАПРОСЫ ДЛЯ ОШИБКИ*/
  .error-img {
    width: 535px;
    height: 392px;
  }

  .error-text__404 {
    text-align: center;
    font-size: 50px;
  }

  .error-text__info {
    font-size: 18px;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ  ПЛЕЕРА*/
  .novideo__text {
    margin-left: 30px;
    font-size: 50px;
  }

  .novideo__img {
    width: 80px;
    height: 80px;
  }

  .novideo {
    left: 13vw;
  }

  /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
  #back {
    height: calc(100vh + 80px);
  }

  .logo {
    width: 136px;
    height: 80px;
    left: 10px;
  }

  #menu {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85%;
    max-width: 600px;
  }

  .menu-h1 {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }

  .error {
    font-size: 14px;
  }

  .papa {
    height: 70px;
  }

  .element {
    height: 40px;
  }

  .svg {
    height: 26px;
    width: 26px;
  }

  .menu-input::placeholder {
    font-size: 16px;
  }

  .menu-input {
    font-size: 16px;
  }

  .menu-button {
    font-size: 22px;
    margin-top: 20px;
    height: 40px;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПРОФИЛЯ*/
  .profile-avatar {
    width: 150px;
    height: 150px;
  }

  .profile-avatar__input-button {
    height: 39px;
  }

  .menu-profile {
    padding-top: 30px;
    width: 85%;
  }

  .menu-form-avatar {
    margin-right: 70px;
  }

  /*МЕДИА ЗАПРОСЫ ДЛЯ ХЕДЕРА*/
  .search {
    margin-inline: 10px;
  }
  .header {
    background-position-x: center;
    height: 100%;
  }

  .font-nav {
    padding-inline: 0;
  }

  .photo-person__gradient {
    padding-top: 0;
    background: none;
    height: 60%;
  }

  .div-logo {
    height: 80px;
  }

  .desktop-navbar {
    display: none;
  }

  .menu-mobile {
    display: flex;
    cursor: pointer;
  }
  .space {
    display: none;
  }

  .logo-home {
    padding-inline-start: 0;
    height: 50px;
  }

  .profile-block {
    margin-inline-end: 4vw;
  }

  .btn-profile {
    width: 40px;
    height: 40px;
  }
  .dropdown-content a {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
  }
  .dropdown-content {
    width: 30vw;
    text-align: end;
  }
  .dropdown {
    justify-content: flex-end;
  }
  .name-profile-mobile {
    font-size: 18px;
    display: block;
    color: var(--mix-color);
    padding: 10px 10px 10px 10px;
  }
  .name-profile {
    display: none;
  }

  /* для main movie*/

  .main-movie__name {
    height: 60px;
  }

  .main-movie {
    height: auto;
    justify-content: center;
  }

  .sidebar {
    margin: 4vw;
    align-content: center;
    width: 100%;
    border-radius: 32px;
    display: grid;
    column-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas:
            "title title"
            "btn btnInfo";
  }

  .title-descr {
    margin-top: 10px;
    line-height: 22px;
    font-size: 25px;
  }

  .btn,
  .btn-info {
    padding: 2px 9px;
    font-size: 16px;
  }

  /*карусель*/
  .b-carousel {
    overflow-x: scroll;
    padding-inline: 0;
  }
  .b-carouselTop {
    overflow-y: hidden;
  }
  .movieTop:hover,
  .movieTop {
    width: 90vw;
    height: 60vw;
    transform: scale(1);
    margin-inline-end: 0;
    margin-inline: 2vw;
    background-position-x: center;
  }

  .movie,
  .movie:hover {
    transform: scale(0.95);
  }

  #cbMovie:hover::after,
  #cb:hover::after {
    background-image: url("../static/heart.png");
  }

  #cbMovie:checked::after,
  #cb:checked::after {
    background-image: url("../static/activeLike.png");
  }
  .first {
    margin-top: -50px;
  }

  .b-carouselTop__prev,
  .b-carouselTop__next,
  .b-carousel__next,
  .b-carousel__prev {
    display: none;
  }
  .b-carouselTop__wrap,
  .b-carousel__wrap {
  }

  .wrap {
    padding-inline: 4px;
  }
  .movie {
    margin-inline: 1vw;
    width: 48vw;
    height: 30vw;
    border-radius: 8px;
    grid-template-rows: auto 40px;
  }

  .desc-mov {
    justify-content: center;
    /*width: 100%;*/
    padding-inline: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
  }
  .desc-movTop {
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
  }
  .movie__href {
    width: 118px;
  }

  .genre {
    font-size: 12px;
  }

  .list-films {
    display: flex;
    margin: 20px auto auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .padding-names {
    padding-inline: 10px;
  }
  .search-topic {
    height: fit-content;
    padding-block: 10px;
  }
  .font-topics {
    font-size: 22px;
  }
  .font-menu-search {
    font-size: 30px;
  }

}

@media (max-width: 375px) {
  .genre,
  .desc-mov {
    font-size: 10px;
  }

  #cb,
  #cb::after,
  #cb:checked::after {
    margin-inline: -2px;
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
  }
}


@media (min-width: 700px) and (max-width: 1000px) {
  .photo-person {
    height: 100%;
    background-position-x: right;
  }
  .head-person__descr {
    margin: 20px 40vw 20px 0;
  }
  .head-person {
    height: 110%;
  }

  .photo-person__gradient {
    height: 100%;
    background: var(--movie-gradient);
  }
}


@media (max-width: 750px) {
  /*МЕДИА ЗАПРОСЫ ДЛЯ КАРУСЕЛЬКИ*/
  .select-title {
    margin-inline-start: 4vw;
    font-size: 26px;
  }

  /*МЕДИА ЗАПРОСЫ ДЛЯ ОШИБКИ*/
  .error-text__404 {
    margin-right: 15px;
    padding-left: 10px;
    font-size: 45px;
  }

  .error-text {
    margin-top: 50px;
  }

  .error-text__info {
    text-align: center;
    margin-right: 15px;
    padding-left: 15px;
    font-size: 16px;
  }

  .error-img {
    width: 232px;
    height: 183px;
  }

  /*МЕДИА ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/
  .div-logo {
    height: 60px;
  }

  .papa {
    height: 65px;
  }

  .element {
    height: 35px;
  }

  .menu-input {
    font-size: 16px;
  }

  .menu-input::placeholder {
    font-size: 14px;
  }

  .svg {
    margin: 5px 20px 5px 5px;
    width: 24px;
    height: 24px;
  }

  .menu-button {
    font-size: 18px;
    height: 40px;
    margin-top: 5px;
  }

  .error {
    font-size: 14px;
    padding-top: 1px;
  }

  .logo {
    top: 10px;
    width: 120px;
    height: 60px;
  }

  .text {
    margin-top: 5px;
  }

  .first-span {
    font-size: 16px;
  }

  .second-span {
    font-size: 16px;
  }

  /*МЕДИА ЗАПРОСЫ ДЛЯ ФУТЕРА*/
  .titleFooter {
    font-size: 20px;
  }

  #footer {
    flex-direction: column;
    height: auto;
  }

  .left {
    margin-left: 4vw;
    flex-direction: column;
  }

  #second-footer {
    margin-left: 0;
    width: 130%;
  }

  #third-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .ref {
    margin-right: 30px;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПРОФИЛЯ*/
  .profile-avatar {
    width: 130px;
    height: 130px;
  }

  .profile-avatar__input-button {
    font-size: 16px;
    width: 150px;
  }

  .menu-form__profile {
    flex-direction: column;
  }

  .menu-form-avatar {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .navbar {
    //height: 22%;
    transition: none;
    position: sticky !important;
    justify-content: space-between;
  }

  .back-profile {
    height: 130vh;
  }

  .back-menu-profile {
    height: 130vh;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПЛЕЕРА*/
  .exit {
    margin-left: 26px;
    padding-top: 9vmin;
  }

  .controls__button {
    width: 214px;
  }

  .progress-controls {
    width: 95%;
  }

  .novideo__text {
    margin-left: 20px;
    font-size: 40px;
  }

  .novideo__img {
    width: 70px;
    height: 70px;
  }

  .novideo {
    left: 12vw;
  }

  .controls {
    display: block;
    width: auto;
  }

  .series__text {
    display: none;
  }

  .rewind {
    display: none;
  }

  .forward {
    display: none;
  }

  .volume {
    display: none;
  }

  .series {
    display: none;
  }

  .full {
    display: none;
  }

  /* страница актера*/
  .photo-person {
    margin-bottom: 350px;
    box-shadow: 0 -108px 35px #01090b inset;
    height: 300px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .head-person {
    height: auto;
    align-content: center;
    justify-content: flex-end;
    margin: 160px auto auto 4vw;
  }

  .head-person__name {
    font-size: 32px;
  }
  .head-person__descr {
    width: fit-content;
    font-weight: 500;
    margin-block: 10px;
    font-size: 14px;
    line-height: 16px;
    margin: 20px 14vw 20px 0;
  }

  .add-photos__photo {
    width: calc(6vw + 120px);
    height: calc(6vh + 80px);
  }
}

@media (max-width: 500px) {
  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ФИЛЬМА*/
  .photo-movie {
    box-shadow: 0 -108px 35px #01090b inset;
    height: 300px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .head-movie {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -50vw;
    position: absolute;
    margin-left: 0;
  }

  .head-movie__name {
    margin-left: 0;
    width: 150px;
    height: 58px;
    margin-bottom: 30px;
  }

  .head-movie__rating {
    margin-left: 0;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .string-rating {
    margin-left: 0;
    margin-right: 0;
  }

  .head-movie__info {
    margin-left: 2vw;
    margin-bottom: 40px;
  }

  .short-info {
    font-size: 14px;
    margin-right: 1px;
  }

  .info__year {
    padding-right: 7px;
  }

  .info__genre {
    margin-right: 8px;
  }

  .info__country {
    margin-right: 8px;
  }

  .info__duration {
    margin-right: 8px;
  }

  .photo-movie__gradient {
    display: none;
  }

  .head-movie__buttons {
    width: 90%;
  }

  .play-button {
    font-size: 14px;
    width: 130px;
  }

  .trailer-button {
    width: 130px;
    font-size: 14px;
  }

  .first-part-info {
    margin-top: 260px;
    margin-left: 4vw;
  }

  .first-part-info__text {
    padding-right: 4vw;
    max-width: fit-content;
    font-size: 14px;
  }

  .second-part-genre {
    font-size: 26px;
    margin-left: 4vw;
  }

  .second-part-genre__genres {
    font-size: 15px;
  }

  .group {
    font-size: 26px;
  }

  .third-part-actors {
    margin-left: 4vw;
  }

  .group__staff {
    overflow: scroll;
    width: 100%;
  }

  .person__photo {
    width: 90px;
    height: 90px;
  }

  .person__position {
    font-size: 18px;
  }

  .person__name {
    font-size: 18px;
  }

  .group__staff::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: var(--back-color);
  }

  .first-part-info__our-rating {
    font-size: 62px;
  }

  .first-part-info__our-name {
    font-size: 18px;
  }

  .first-part-info__our-name-rt {
    font-size: 18px;
  }

  .your-rating__button {
    width: 90%;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ФИЛЬМА*/
  .first-part-info__text {
    padding-right: 4vw;
    max-width: fit-content;
    font-size: 14px;
  }

  .photo-movie {
    box-shadow: 0 -108px 35px #01090b inset;
    background-repeat: no-repeat;
    background-size: cover;
    height: 63vw;
  }

  .head-movie {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -43vw;
    position: absolute;
    margin-left: 0;
  }

  .head-movie__name {
    margin-left: 0;
    width: 150px;
    height: 58px;
    margin-bottom: 30px;
  }

  .head-movie__rating {
    margin-left: 0;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .string-rating {
    margin-left: 0;
    margin-right: 0;
  }

  .head-movie__info {
    margin-left: 2vw;
    margin-bottom: 40px;
  }

  .short-info {
    font-size: 14px;
    margin-right: 1px;
  }

  .info__year {
    padding-right: 7px;
  }

  .info__genre {
    margin-right: 8px;
  }

  .info__country {
    margin-right: 8px;
  }

  .info__duration {
    margin-right: 8px;
  }

  .photo-movie__gradient {
    display: none;
  }

  .head-movie__buttons {
    width: 90%;
  }

  .play-button {
    font-size: 14px;
    width: 130px;
  }

  .trailer-button {
    width: 130px;
    font-size: 14px;
  }

  .first-part-info {
    margin-top: 290px;
  }

}

@media (max-height: 450px) {
  /*МЕДИЯ ЗАПРОСЫ ДЛЯ РЕГИСТРАЦИИ и ЛОГИНА*/
  #back {
    height: 100vw;
  }

  #back-menu {
    height: 100vw;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПРОФИЛЯ*/
  .navbar {
    //height: 22%;
    transition: none;
    position: sticky !important;
    justify-content: space-between;
  }

  .back-profile {
    height: 160vh;
  }

  .back-menu-profile {
    height: 160vh;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПРОФИЛЯ*/
  .head-movie {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -50vw;
    position: absolute;
    margin-left: 0;
  }

  .photo-movie {
    box-shadow: 0 -108px 35px #01090b inset;
  }

  .first-part-info {
    margin-top: 400px;
  }

  .head-movie__rating {
    width: 40%;
    justify-content: space-between;
  }

  .string-rating {
    margin-right: 0;
  }

  .head-movie__name {
    width: 380px;
  }

  .head-movie__buttons {
    width: 70%;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПЛЕЕРА*/
  .series__text {
    display: none;
  }

  .rewind {
    display: none;
  }

  .forward {
    display: none;
  }

  .volume {
    display: none;
  }

  .series {
    display: none;
  }

  .full {
    display: none;
  }

  .controls {
    display: block;
    width: auto;
  }


  #back-menu {
    height: 100vw;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПРОФИЛЯ*/
  .navbar {
    //height: 22%;
    transition: none;
    position: sticky !important;
    justify-content: space-between;
  }

  .back-profile {
    height: 160vh;
  }

  .back-menu-profile {
    height: 160vh;
  }

  /*МЕДИЯ ЗАПРОСЫ ДЛЯ ПРОФИЛЯ*/
  .head-movie {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -50vw;
    position: absolute;
    margin-left: 0;
  }

  .photo-movie {
    box-shadow: 0 -108px 35px #01090b inset;
  }

  .first-part-info {
    margin-top: 400px;
  }

  .head-movie__rating {
    width: 40%;
    justify-content: space-between;
  }

  .string-rating {
    margin-right: 0;
  }

  .head-movie__name {
    width: 380px;
  }

  .head-movie__buttons {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  /*МЕДИА ЗАПРОСЫ ДЛЯ ГЛАВНОЙ*/
  .sidebar {
    width: calc(1vw + 582px);
  }
}

@media (min-width: 1800px) {
  /*МЕДИА ЗАПРОСЫ ДЛЯ ГЛАВНОЙ*/
  .main-movie {
    justify-content: center;
  }
  .sidebar {
    transform: scale(1.3);
    margin: 0;
  }
}

@media (min-width: 2800px) {
  .sidebar {
    transform: scale(3);
  }
}


@media (min-width: 1450px) and (max-width: 1800px) {
  /*МЕДИА ЗАПРОСЫ ДЛЯ ГЛАВНОЙ*/


  .btn,
  .btn-info {
    margin-inline: auto;
    font-size: calc(1vh + 20px);
  }

  .title-name {
    font-size: calc(1vw + 60px);
  }

  .title-descr {
    font-size: calc(1vw + 20px);
  }

  .desc-mov,
  .desc-movTop,
  .genre {
    font-size: calc(1vw + 0px);
  }

  #cb,
  #cb::after,
  #cb:checked::after {
    background-size: calc(1vw + 30px) calc(1vw + 30px);
    height: calc(1vw + 30px);
    width: calc(1vw + 30px);
  }
}


/* HEADER*/
@media (min-width: 1000px) {

  .navbar {
    font-size: calc(1vw + 8px);
  }
  .menu__input {
    font-size: calc(1vw + 10px);
  }
  .menu__input::placeholder {
    font-size: calc(1vw + 5px);
  }
  .logo-home {
    height: calc(1vw + 50px);
  }
  .dropdown-content a {
    font-size: calc(1vw + 8px);
  }
  .dropdown-content {
    margin-block: calc(1vw + 60px);
  }
}

@media (min-width: 2000px) {
  .search-menu {
    margin: 6rem auto auto auto;
  }
  .logo-home {
    height: calc(3vw + 40px);
  }
  .font-nav {
    padding-inline: calc(1vw + 20px);
  }
  .dropdown-content a {
    padding: calc(1vw + 8px) 16px;
    font-size: calc(1vw + 12px);
  }
  .dropdown-content {
    margin-block: calc(1vw + 82px);
  }
  .profile-block {
    height: calc(3vw + 90px);
  }


  .movie {
    height: calc(3vw + 215px);
    grid-template-rows: auto 80px;
    width: calc(3vw + 380px);

  }
  .movieTop {
    height: calc(3vw + 250px);
    grid-template-rows: auto 70px;
    width: calc(3vw + 464px);
  }
  .desc-mov {
    font-size: 24px;
  }
  .genre {
    font-size: 20px;
  }
  .desc-movTop {
    font-size: 24px;
  }


}


@media (min-width: 2000px) {
  //МЕДИЯ ЗАПРОСЫ ДЛЯ СПИСКА ФИЛЬМОВ
  .test {
    height: 300px;
  }
}


@media (min-width: 1450px) and (max-width: 1700px) {
  //МЕДИЯ ЗАПРОСЫ ДЛЯ СПИСКА ФИЛЬМОВ
  .test {
    width: 21vw;
    height: 200px;
  }
}

@media (min-width: 1250px) and (max-width: 1450px) {
  //МЕДИЯ ЗАПРОСЫ ДЛЯ СПИСКА ФИЛЬМОВ
  .test {
    width: 20vw;
    height: 170px;
  }
}

@media (min-width: 1000px) and (max-width: 1250px) {
  //МЕДИЯ ЗАПРОСЫ ДЛЯ СПИСКА ФИЛЬМОВ
  .test {
    width: 27vw;
    height: 185px;
  }

  //МЕДИЯ ЗАПРОСЫ ДЛЯ СЕРИАЛОВ
  .episodes {
    margin-top: 0;
    margin-bottom: 30px;
  }

  //МЕДИЯ ЗАПРОСЫ ДЛЯ ФИЛЬМА
  .head-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  //МЕДИЯ ЗАПРОСЫ ДЛЯ СПИСКА ФИЛЬМОВ
  .test {
    width: 27vw;
    height: 170px;
  }

  //МЕДИЯ ЗАПРОСЫ ДЛЯ СПИСКА ФИЛЬМA
  .photo-movie {
    background-repeat: no-repeat;
    background-size: cover;
    height: 63vw;
  }

  .head-movie__name {
    margin-bottom: 0;
    width: 470px;
  }

  .head-movie {
    height: 23%;
  }

  .head-movie__name {
    margin-bottom: 0;
    width: 360px;
  }

  .rating {
    font-size: 26px;
  }

  .our-name {
    font-size: 18px;
  }

  .poisk-name {
    font-size: 18px;
  }

  .short-info {
    font-size: 18px;
  }

  .trailer-button {
    height: 36px;
    font-size: 18px;
    width: 164px;
  }

  .play-button {
    font-size: 18px;
    height: 42px;
    width: 200px;
  }

  .first-part-info {
    margin-top: 40px;
  }
  .sidebar{
      margin: 16vw;
  }
}

@media (max-width: 750px) {
  //МЕДИЯ ЗАПРОСЫ ДЛЯ СПИСКА ФИЛЬМОВ
  .all-films__text {
    margin-top: 30px;
    font-size: 50px;
  }

  .test {
    width: 38vw;
    height: 110px;
  }

  //МЕДИЯ ЗАПРОСЫ ДЛЯ СЕРИАЛОВ
  .episodes {
    margin-bottom: -240px;
    margin-top: 270px;
  }
}




