@import '../components/footer/footer.css';
@import '../components/button/button.css';
@import '../components/carousel/carousel.css';
@import '../components/inputs/inputs.css';

@media (min-width: 1728px){
    /*МЕДИЯ ЗАПРОСЫ ДЛЯ КАРУСЕЛЬКИ*/

    .b-carouselTop__wrap {
        margin-inline: -44px;
    }
}

@media (min-width: 1450px) and (max-width: 1600px) {
    /*МЕДИЯ ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/

    #menu{
        width: 500px;
    }

    /*МЕДИЯ ЗАПРОСЫ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

    .formSearch{
        flex-grow: 2;
    }

    .movie{
        width: 330px;
        height: 194px;
    }

    .movieTop{
        width: 425px;
        height: 245px;
    }

}
@media (min-width: 1000px) and (max-width: 1450px) {
    /*МЕДИЯ ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/

    .error {
        font-size: 14px;
    }

    .papa {
        height: 75px;
    }

    .element {
        height: 40px;
    }

    .svg {
        height: 26px;
        width: 26px;
    }

    .menu-input::placeholder {
        font-size: 16px;
    }

    .menu-input {
        font-size: 16px;
    }

    .menu-button {
        font-size: 22px;
        margin-top: 20px;
        height: 40px;
    }

    .first-span {
        font-size: 20px;
    }

    .second-span {
        font-size: 20px;
    }

    #menu{
        padding-top: 50px;
        padding-bottom: 40px;
        width: 500px;
    }

}
@media (max-width: 1000px) {
    /*МЕДИЯ ЗАПРОСЫ ДЛЯ ЛОГИНА И РЕГИСТРАЦИЯ*/

    .logo {
        width: 136px;
        height: 80px;
        left: 10px;
    }

    #menu{
        width: 90%
    }

    #footer {
        height: auto;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

