@import "../components/headMovie/headMovie.scss";
@import "../components/firstInfoMovie/firstInfoMovie.scss";
@import "../components/secondGende/secondGenre.scss";
@import "../components/actors/actors.scss";

.photo-movie {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    height: 96vh;
}

.photo-movie__gradient {
    width: 80%;
    height: 96vh;
    background: var(--movie-gradient);
}

.head-movie {
    position: absolute;
    margin-left: 70px;
    height: 50%;
}

.first-part-info {
    margin-left: 70px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: auto !important;
}

.second-part-genre {
    margin-left: 70px;
    margin-top: 60px;
}

.third-part-actors {
    margin-top: 60px;
    margin-left: 70px;
}

.final-part-carousel {
    height: 60px;
}

.carousel-title {
    font-size: 28px !important;
}

