@import "../components/headPerson/headPerson.css";

.photo-person {
    top: 0;
    left: 0;
    background-size: cover;
    height: 700px;
}

.photo-person__gradient {
    width: 80%;
    height: 700px;
    background: var(--movie-gradient);
}

.head-person {
    top: 164px;
    position: absolute;
    margin-left: 70px;
    height: 50%;
}

.first-part-info {
    display: flex;
    height: 200px;
    background: var(--back-color);
}

.margin-bottom {
    margin-bottom: 50px;
}