@import "../components/headPerson/headPerson.scss";

.photo-person {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
}

.photo-person__gradient {
    width: 100%;
    height: 100%;
    background: var(--movie-gradient);
}
.head-person {
    display: flex;
    margin: 164px auto auto 70px;
    flex-direction: column;
}

.first-part-info {
    display: flex;
    height: 200px;
    background: var(--back-color);
}

.margin-bottom {
    margin-bottom: 50px;
}