@import "../components/headPerson/headPerson.css";

.photo-person {

    background-size: cover;

}

.photo-person__gradient {
    padding-top: 146px;
    width: 80%;
    background: var(--movie-gradient);
}

.head-person {
    display: flex;
    margin-left: 70px;
    flex-direction: column;
}

.first-part-info {
    display: flex;
    height: 200px;
    background: var(--back-color);
}

.margin-bottom {
    margin-bottom: 50px;
}