#footer {
    cursor: default;
    display: flex;
    width: 100%;
    position: absolute;
    background: var(--back-color);
    height: 150px;
    justify-content: space-between;
}

.left {
    margin-left: 34px;
    width: 60%;
    display: flex;
}

#second-footer{
    margin-left: 20px;
    display: block;
}

#third-footer{
    text-align: end;
    display: block;
    grid-area: fourth;
}

.titleFooter {
    font-weight: lighter;
    text-align: left;
    color: var(--font-footer-color);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

.content {
    font-weight: lighter;
    text-decoration: none;
    color: var(--font-footer-color);
    font-size: 15px;
}

.refer {
    height: 39px;
    width: 39px;
    margin-top: 20px;
    transition: transform .1s linear;
}

.refer:hover {
    transform: scale(1.2);
    transform: scale(1.2);
}

.ref {
    margin-right: 50px;
}