mixin footer(items)
    footer#footer
        div.left
            div
                div.titleFooter Контакты
                div.content Москва. ул. 2-ая Бауманская, д. 5
                a.content(href="mailto:kuraga_team@moviespace.com") kuraga_team@moviespace.com
            div#second-footer
                div.titleFooter Информация
                div.content © 2022–2022 Movie Space.
                div.content Может содержать информацию, не предназначенную для несовершеннолетних
        div#third-footer
             each item in items
                 a.ref(href=item.href)
                     img.refer(src=item.src)

+ footer(items)