mixin regView(items)
    div#back
    object.logo(type="image/svg+xml", data="../../static/Logo.svg")
    div#back-menu
        div#menu
            h1.menu-h1 Регистрация
            form.menu-form(method="post", action=".", noValidate) !{items.inputs} !{items.button}
            div.text
                span.first-span Есть аккаунт?
                a.second-span(href=".") Войдите
    div !{items.footer}

+ regView(items)