.list-films {
  display: flex;
  margin: 20px 4vw 30px 4vw;
  background: var(--back-color);
  row-gap: 4vw;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.test {
  width: 22vw;
  margin-right: 30px;
  height: 260px;
  margin-bottom: 50px;
  background: red;
  border: 2px solid white;
}

.list-genres {
  line-height: 30px;
  margin-bottom: 40px;
  margin-left: 4vw;
  height: 50px;
  display: flex;
  max-width: 90%;
  width: fit-content;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 6px;
  border-radius: 30px;
  background: var(--trailer-button-hover);

  &__genre {
    font-size: 20px;
    font-weight: 350;
    text-decoration: none;
    color: white;
    margin: 4px;
    border-radius: 30px;
    padding: 2px 8px 2px 8px;
    transition: all 0.1s ease;
  }

  &__genre:hover {
    text-decoration: underline;
  }
}

.list-genres::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1000px){
  .list-films {
    margin: 20px 0 20px 0;
  }
}
