.list-films {
  display: flex;
  margin: 20px 4vw 30px 4vw;
  background: var(--back-color);
  row-gap: 4vw;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.test {
  width: 22vw;
  margin-right: 30px;
  height: 260px;
  margin-bottom: 50px;
  background: red;
  border: 2px solid white;
}

.list-genres {
  margin-bottom: 40px;
  margin-left: 4vw;
  height: 50px;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 30px;
  background: var(--trailer-button-hover);

  &__genre {
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 4px;
    border-radius: 30px;
    padding: 2px 8px 2px 8px;
  }

  &__genre:hover {
    text-decoration: underline;
  }
}

.list-genres::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: var(--trailer-button-hover);
}