.main-movie {
    display: flex;
    height: 100%;
    justify-content: flex-start;
}



.main-movie__name {
    background-position-x: center;
    background-size: contain;
    object-fit: contain;
    height: 110px;
    background-repeat: no-repeat;
}

.title-main-movie {
    display: flex;
    cursor: default;
    text-align: center;
    grid-area: title;
    flex-direction: column;
}

.title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 80px;
    align-items: center;
    text-align: center;
}

.title-descr {
    margin-top: 20px;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
}

.font-other {
    text-decoration: none;
    font-weight: 350;
    color: var(--font-color);
}

.btn {
    font-family: GT Eesti Pro Display, arial, sans-serif;
    color: var(--font-color);
    font-size: 20px;
    height: 44px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    background: var(--btn-color);
    mix-blend-mode: normal;
    border-radius: 10px;
    transition: transform 0.1s ease-out, background-color 0.15s linear;
    width: auto;
    font-weight: 350;
    grid-area: btn;
    padding-block: 5px;
    padding-inline: 29px;
    line-height: 28px;
    place-self: center;
    background: var(--btn-color);
    justify-self: center;
}

#undefined {
    background-size: contain;
    background-image: url("../../static/NoSeria.webp") !important;
}

.btn-info {
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: GT Eesti Pro Display, arial, sans-serif;
    color: var(--font-color);
    font-size: 20px;
    cursor: pointer;
    border: 3px solid var(--mix-color);
    mix-blend-mode: normal;
    width: auto;
    grid-area: btnInfo;
    padding-block: 5px;
    padding-inline: 40px;
    font-style: normal;
    font-weight: 350;
    line-height: 28px;
    place-self: center;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    transition: transform 0.1s ease-out, background-color 0.15s linear;
}

.btn-info:active {
    transform: scale(0.94);
}

.btn-info:hover {
    background: var(--trailer-button-hover);
}

.btn:active {
    transform: scale(0.94);
}

.btn:hover {
    background: var(--btn-hover-color);
}

.like{
  cursor: pointer;
  fill: none;
  transition: all 0.3s ease;
  display: inline-block;
}
.like:hover,.active-like:hover{
  transform: scale(1.1);
}
.active-like{
  transition: all 0.3s ease;
  fill: var(--mix-color);
}
.mobile-href{
  display: none;
}

@media (max-width: 1000px){
  .mobile-href{
    display: block;
  }
}