@import "../../components/episodes/episodes";

.episodes {
  margin-top: 60px;
  margin-bottom: -20px;
  margin-left: 4vw;
  background: var(--back-color);
  display: flex;
  align-items: center;
  flex-direction: row;
}