.video-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.exit {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    color: white;
    margin-left: 70px;
    padding-top: 4vmin;
    transition: all 0.2s linear;
}

.exit:hover {
    transform: scale(1.2);
}

.novideo {
    display: none;
    position: absolute;
}

.novideo__text {
    margin-left: 50px;
    font-size: 70px;
}

.player {
    width: 100%;
    height: 100vh;
}

.controls-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 4vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}

.progress-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    cursor: pointer;
    margin-right: 14px;
    width: 88%;
    height: 5px;
    display: flex;
    align-items: center;
    background: var(--progress-bar);
}

.watched-bar {
    display: inline-block;
    height: 120%;
    width: 20%;
    background: var(--mix-color);
    transition: all 0.2s linear;
}

.playhead {
    background: var(--mix-color);
    display: inline-block;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.controls {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls__button {
    cursor: pointer;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    opacity: 0.7;
    transition: all 0.2s linear;
}

.controls__button:hover {
    opacity: 1;
    transform: scale(1.2);
}

.controls__space {
    height: 100%;
    width: 100%;
}

.controls__button-svg {
    fill: white;
    stroke: white;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 100%;
    height: 100%;
}

.rewind {
    width: 70px;
    height: 70px;
}

.rewind__svg {
    stroke: none;
}

.forward__svg {
    stroke: none;
}

.setting__svg {
    fill: none;
}

.min__svg {
    fill: none;
}
.full__svg {
    fill: none;
}

.series__text {
    width: 129px;
    font-size: 18px;
}

.series__svg {
    width: 39px;
    padding-top: 20px;
}

.series {
    position: relative;
    display: flex;
    color: #fff;
    flex-direction: row;
    width: 226px;
    align-items: center;
}

.series:hover {
    transform: scale(1.1) !important;
}

.season-number {
    font-family: "GT Eesti Pro Display Medium", arial, sans-serif;
    color: white;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.series__popUp {
    position: absolute;
    top: -60vh;
    left: -254px;
    overflow: scroll;
    overflow-x: hidden;
}

.series__popUp::-webkit-scrollbar {
    width: 0;
}

.series__popUp__content::-webkit-scrollbar {
    width: 0;
}

.series__popUp__content {
    background-color: var(--popup-serials);
    border-radius: 10px;
    display: none;
    overflow: auto;
    height: 60vh;
    width: 426px;
}

.block {
    background-color: grey;
    margin-bottom: 20px;
    width: 80%;
    height: 10%;
    margin-left: 20px;
}

.series:hover .series__popUp__content {
    display: block;
}

.volume:hover .volume__popUp__content {
    display: flex;
}

.volume:hover .volume__popUp {
    display: flex;
}

.volume__popUp {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 82px;
    height: 40px;
    display: none;
    align-items: center;

    &__content {
        background-color: var(--progress-bar);
        display: none;
        align-items: center;
        height: 4px;
        width: 70px;
        margin-left: 10px;
    }
}

.volume-bar {
    display: inline-block;
    height: 120%;
    width: 20%;
    background: var(--mix-color);
    transition: all 0.2s linear;
}

.level {
    background: var(--mix-color);
    display: inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}