.video-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}

.exit {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    color: white;
    margin-left: 70px;
    padding-top: 4vmin;
    transition: all 0.2s linear;
}

.left-arrow {
    position: fixed;
    left: 0;
    top: 50%;
}

.right-arrow {
    position: fixed;
    right: 0;
    top: 50%;
}

.exit:hover {
    transform: scale(1.2);
}

.novideo {
    display: none;
    position: absolute;
}

.novideo__text {
    margin-left: 50px;
    font-size: 70px;
}

.player {
    width: 100%;
    height: 100vh;
}

.controls-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 4vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
}

.progress-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    cursor: pointer;
    margin-right: 14px;
    width: 88%;
    height: 5px;
    display: flex;
    align-items: center;
    background: var(--progress-bar);
}

.watched-bar {
    display: inline-block;
    height: 120%;
    width: 20%;
    background: var(--mix-color);
    transition: all 0.2s linear;
}

.playhead {
    background: var(--mix-color);
    display: inline-block;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.controls {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls__button {
    cursor: pointer;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    opacity: 0.7;
    transition: all 0.2s linear;
}

.controls__button:hover {
    opacity: 1;
    transform: scale(1.2);
}

.controls__space {
    height: 100%;
    width: 100%;
}

.controls__button-svg {
    fill: white;
    stroke: white;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 100%;
    height: 100%;
}

.rewind {
    width: 70px;
    height: 70px;
}

.rewind__svg {
    stroke: none;
}

.forward__svg {
    stroke: none;
}

.setting__svg {
    fill: none;
}

.min__svg {
    fill: none;
}
.full__svg {
    fill: none;
}

.series__text {
    width: 129px;
    font-size: 18px;
}

.series__svg {
    width: 39px;
    padding-top: 20px;
}

.series {
    position: relative;
    display: flex;
    color: #fff;
    flex-direction: row;
    width: 226px;
    align-items: center;
}

.series:hover {
    transform: scale(1.1) !important;
}

.season-number {
    padding-top: 60px;
    font-family: "GT Eesti Pro Display Medium", arial, sans-serif;
    color: white;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
}

.episode-number {
    width: 550px;
    height: 60px;
    position: fixed;
    z-index: 1;
    bottom: 61vh;
    background-color: #222;
    border-radius: 6px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.season-number__episode {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    transition: all .2s ease;
}

.season-number__episode:hover {
    background: var(--trailer-button-hover);
}

.episode__img {
    border-radius: 6px;
    background-size: cover;
    width: 35%;
    height: 110px;
}

.episode__div {
    padding-left: 20px;
    width: 60%;
    height: 110px;
}

.episode__name {
    text-align: start;
    font-family: "GT Eesti Pro Display Medium", arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 22px;
}

.episode__desc {
    overflow: hidden;
    height: 80px;
    text-align: start;
    font-weight: lighter;
    font-size: 14px;
}

.series__popUp {
    position: absolute;
    top: -60vh;
    left: -366px;
    overflow: scroll;
    height: 60vh;
}

.series__popUp::-webkit-scrollbar {
    width: 0;
}

.series__popUp__content::-webkit-scrollbar {
    width: 0;
}

.series__popUp__content {
    overflow: scroll;
    background-color: var(--popup-serials);
    border-radius: 10px;
    display: none;
    width: 550px;
}

.block {
    background-color: grey;
    margin-bottom: 20px;
    width: 80%;
    height: 10%;
    margin-left: 20px;
}

.series:hover .series__popUp__content {
    display: block;
}

.volume:hover .volume__popUp__content {
    display: flex;
}

.volume:hover .volume__popUp {
    display: flex;
}

.volume__popUp {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 82px;
    height: 40px;
    display: none;
    align-items: center;

    &__content {
        background-color: var(--progress-bar);
        display: none;
        align-items: center;
        height: 4px;
        width: 70px;
        margin-left: 10px;
    }
}

.volume-bar {
    display: inline-block;
    height: 120%;
    width: 20%;
    background: var(--mix-color);
    transition: all 0.2s linear;
}

.level {
    background: var(--mix-color);
    display: inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

@media (min-width: 1000px) and (max-width: 1250px) {
    .novideo__text {
        margin-left: 30px;
        font-size: 60px;
    }
}

@media (max-width: 1000px) {
    .novideo__text {
        margin-left: 30px;
        font-size: 50px;
    }

    .novideo__img {
        width: 80px;
        height: 80px;
    }

    .novideo {
        left: 13vw;
    }
}

@media (max-width: 750px) {
    .exit {
        margin-left: 26px;
        padding-top: 9vmin;
    }

    .controls__button {
        width: 214px;
    }

    .progress-controls {
        width: 95%;
    }

    .novideo__text {
        margin-left: 20px;
        font-size: 40px;
    }

    .novideo__img {
        width: 70px;
        height: 70px;
    }

    .novideo {
        left: 12vw;
    }

    .controls {
        display: block;
        width: auto;
    }

    .series__text {
        display: none;
    }

    .rewind {
        display: none;
    }

    .forward {
        display: none;
    }

    .volume {
        display: none;
    }

    .series {
        display: none;
    }

    .full {
        display: none;
    }
}

@media (max-height: 450px) {
    .series__text {
        display: none;
    }

    .rewind {
        display: none;
    }

    .forward {
        display: none;
    }

    .volume {
        display: none;
    }

    .series {
        display: none;
    }

    .full {
        display: none;
    }

    .controls {
        display: block;
        width: auto;
    }
}